In [1]:
import os
import re
import boto3
import itertools

import pandas as pd
import numpy as np
from sagemaker.session import Session

In [22]:
# create a darker background template (better for my eyes)
from jupyterthemes.stylefx import set_nb_theme
# set_nb_theme('chesterish')

In [58]:
def cleanNumeric(value) -> float:
    """
    This function converts a string to a numeric quantity, handles weird string format
    :param: value, string value with hidden numeric quanity  
    :return: floating point values
    
    Complexity -> O(n)
    
    e.g.
        In[0]: $ 19,225     ->   Out[0]: 19255
        In[0]: $ 19,225.76  ->   Out[0]: 19255.76
    """
    try:
        # some accounting formats take () to be negative numbers
        if value[0] == '(':
            value = '-' + value

        # perform regex operation scanning for only numeric quantities/identifiers
        cleanValue = re.sub("[^0-9|.|-]", "", value)
        try:
            return float(cleanValue)
        except ValueError:
            return 0.0
    except TypeError:
        return value

In [4]:
cleanNumeric('-$19,223')

-19223.0

In [5]:
def regexCheck(string:str, searchTerm:str):
    """
    Checks a regex expression for a given string construct
    string (type str)
        A string to perform a regex search on e.g. "Cash and cash equiavalents"
    searchTerm (type str)
        A regex expression to execute a search e.g. "^Cash"
        
    return: the searched term in question
    """
    try:
        s = re.search(searchTerm, string, flags=re.I)
        return s.string
    except AttributeError:
        return None

In [6]:
# sample = "Total Liabilities stockholder's equity"
sample = "MEMBER'S EQUITY"

In [7]:
regexCheck(sample, '^(?!.*liabilities).*equity$')

"MEMBER'S EQUITY"

In [8]:
# initiate s3 bucket and corresponding data folder
# bucket = "ran-s3-systemic-risk"
# data_folder ="Input/X-17A-5/"

bucket = "ran-s3-systemic-risk"
data_folder ="Output/BalanceSheet/"

# Amazon Textract client and Sagemaker session
textract = boto3.client('textract')
s3 = boto3.client('s3')
session = Session()

# discover all of the pdfs that you want to parse
paths = np.array(session.list_s3_files(bucket, data_folder))

In [9]:
'Total cleaned .csv files total {}'.format(paths.size)

'Total cleaned .csv files total 9745'

In [10]:
selections = np.random.choice(paths[1:], 100)

In [11]:
index = 40

In [12]:
# retrieving downloaded files from s3 bucket
s3.download_file(bucket, selections[index], 'temp.pdf')

df = pd.read_csv('temp.pdf')

In [13]:
df

,Unnamed: 0,0,1,2
0,0,NaN,December,"31,"
1,1,NaN,2017,2016
2,2,NaN,NaN,NaN
3,3,Assets:,NaN,NaN
4,4,Cash on deposit with affiliated company,"$ 2,922,359","$ 2,830,207"
5,5,Investment in money market mutual fund,"75,042,914","64,917,222"
6,6,Commissions receivable from clearing correspon...,"72,707","35,187"
7,7,Other receivables,"7,786,079","6,443,100"
8,8,Deposit with clearing correspondent,"250,000","250,000"
9,9,Goodwill,"3,493,211","3,493,211"
10,10,Due from affiliates,"720,526","723,500"
11,11,Deferred tax asset,"175,859","219,268"
12,12,Total assets,"$ 90,463,655","$ 78,911,695"
13,13,Liabilities:,NaN,NaN
14,14,Commissions payable to brokers and dealers,"$ 6,949,101","$ 7,342,077"
15,15,Accrued expenses,"352,772","288,470"
16,16,Due to affiliates,"1,322,516","1,165,856"
17,17,Total liabilities,"8,624,389","8,796,403"
18,18,Stockholder's equity:,NaN,NaN
19,19,"Common stock, no par value; 100,000 shares aut...",NaN,NaN
20,20,share issued and outstanding,"10,000","10,000"
21,21,Additional paid-in capital,"8,431,477","8,431,477"
22,22,Retained earnings,"73,397,789","61,673,815"
23,23,Total stockholder's equity,"81,839,266","70,115,292"
24,24,Total liabilities and stockholder's equity,"$ 90,463,655","$ 78,911,695"

In [14]:
# clean dataframes for only the items and their immediate values
cleanDf = df[df.columns[1:3]].dropna()

In [15]:
cleanDf['1'] = cleanDf['1'].apply(cleanNumeric)

In [16]:
cleanDf

                                                    0           1
4             Cash on deposit with affiliated company   2922359.0
5              Investment in money market mutual fund  75042914.0
6   Commissions receivable from clearing correspon...     72707.0
7                                   Other receivables   7786079.0
8                 Deposit with clearing correspondent    250000.0
9                                            Goodwill   3493211.0
10                                Due from affiliates    720526.0
11                                 Deferred tax asset    175859.0
12                                       Total assets  90463655.0
14         Commissions payable to brokers and dealers   6949101.0
15                                   Accrued expenses    352772.0
16                                  Due to affiliates   1322516.0
17                                  Total liabilities   8624389.0
20                       share issued and outstanding     10000.0
21                         Additional paid-in capital   8431477.0
22                                  Retained earnings  73397789.0
23                         Total stockholder's equity  81839266.0
24         Total liabilities and stockholder's equity  90463655.0

In [17]:
print('Data for {}\n'.format(selections[index]))

Data for Output/BalanceSheet/1048281-18.csv

In [56]:
def tMatch(totalA:float, totalLE:float):
    # helps match the accounting equation assets = libabilities + equities 
    try:
        multiplier = totalA / totalLE
        
        if multiplier == 0: return None
        elif (multiplier == 1) or (multiplier%10 == 0): return multiplier
        else multiplier%10 != 0: None}
        
    # if total liabilites doesn't exist, but total assets either exists or does not exist  
    except ZeroDivisionError:
        return None

In [19]:
def extraction(df:pd.DataFrame, file:str) -> pd.DataFrame:
    """
    Extract specific line items from cleaned dataframes (balance sheets)
    :param: df (type pd.DataFrame)
        The dataframe from
    :param: file (type str)
        The file string stored in the s3 bucket
    
    :return: A dataframe subset with critical lines extracted
    """
    
    # regex expression for searching for line items 
    keySearch = ['^cash', 'deposits', 'receivable', '^total assets', 'payable', 'total liabilities$', 'common stock', 
                 'preferred stock', 'earnings', '^(?!.*liabilities).*equity$|^(?!.*liabilities).*equity:$', 
                 '^total liabilities.*equity$|^total liabilities.*equity:$']
    
    # key names reflecting the corresponding the regex names
    keyNames = ['Cash & Equivalents', 'Deposits', 'Receivables', 'Total Assets', 'Payables', 'Total Liabilities',
                'Common Stock', 'Preferred Stock', 'Earnings', 'Total Equity', 'Total Liabilities & Equity']
    
    # concat the list of dataframe for each extraction 
    series = {}
    
    # creating two rows to track the CIK and year information released
    cik, year = file.split('/')[-1].split('-')
    
    series['CIK'] = cik          # CIK number for firm 
    series['Year'] = year[:2]    # Year for firm filing  
    
    # select key for search names
    for i, key in enumerate(keySearch):
        # filter regex for corresponding string expression
        filterSet = df[df.columns[0]].str.contains(key, regex=True, flags=re.IGNORECASE)
        
        # matching names for search and constructing a row (dictionary form)
        # filter dataframe and sum corresponding data column
        series[keyNames[i]] = df[filterSet][df.columns[1]].sum()
  
    # match the T-table, asset/liabilities/equity for rows
    mul = tMatch(series['Total Assets'], series['Total Liabilities & Equity'])
    
    if mul != None:
        series['Total Liabilities & Equity'] = series['Total Liabilities & Equity'] * mul
        
        # computing the series for other available line item
        series['Other Assets'] = series['Total Assets'] - series['Cash & Equivalents'] - series['Deposits'] - series['Receivables']
        series['Other Liabilities'] = series['Total Liabilities'] - series['Payables']
        series['Other Equity'] = series['Total Equity'] - series['Common Stock'] - series['Preferred Stock'] - series['Earnings']

        # convert the filtered dictionaries to a dataframe
        comboDF = pd.DataFrame.from_dict(series, orient='index')

        return comboDF.transpose()

In [20]:
extraction(cleanDf, selections[index])

{'CIK': '1048281', 'Year': '18', 'Cash & Equivalents': 2922359.0, 'Deposits': 0.0, 'Receivables': 7858786.0, 'Total Assets': 90463655.0, 'Payables': 6949101.0, 'Total Liabilities': 8624389.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 73397789.0, 'Total Equity': 81839266.0, 'Total Liabilities & Equity': 90463655.0}

,CIK,Year,Cash & Equivalents,Deposits,Receivables,Total Assets,Payables,Total Liabilities,Common Stock,Preferred Stock,Earnings,Total Equity,Total Liabilities & Equity,Other Assets,Other Liabilities,Other Equity
0,1048281,18,2.92236e+06,0,7.85879e+06,9.04637e+07,6.9491e+06,8.62439e+06,0,0,7.33978e+07,8.18393e+07,9.04637e+07,7.96825e+07,1.67529e+06,8.44148e+06

In [32]:
itters = []
error = 0

for file in selections:
    # retrieving downloaded files from s3 bucket
    s3.download_file(bucket, file, 'temp.pdf')
    df = pd.read_csv('temp.pdf')
    
    # clean dataframes for only the items and their immediate values
    cleanDF = df[df.columns[1:3]].dropna() 
    
    # convert each string item to a numeric quantity
    cleanDF[cleanDF.columns[1]] = cleanDF[cleanDF.columns[1]].apply(cleanNumeric)
    
    # export data extraction from dataframe
    tempDF = extraction(cleanDF, file)
    
    if tempDF is not None:
        itters.append(tempDF)
    else:
        print(file)
        error += 1
        
    # remove local file after it has been created
    os.remove('temp.pdf')

Output/BalanceSheet/1052641-07.csv
{'CIK': '1052641', 'Year': '07', 'Cash & Equivalents': 0.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 0.0, 'Payables': 14800.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': -2456359.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1005742-02.csv
{'CIK': '1005742', 'Year': '02', 'Cash & Equivalents': 0.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 0.0, 'Payables': 7584.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 31.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1007497-04.csv
{'CIK': '1007497', 'Year': '04', 'Cash & Equivalents': 11081.0, 'Deposits': 0.0, 'Receivables': 2081.0, 'Total Assets': 18637.0, 'Payables': 1561.0, 'Total Liabilities': 1561.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1021474-04.csv
{'CIK': '1021474', 'Year': '04', 'Cash & Equivalents': 14933.0, 'Deposits': 10000.0, 'Receivables': 13113.0, 'Total Assets': 51552.0, 'Payables': 5463.0, 'Total Liabilities': 5463.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 46089.0, 'Total Liabilities & Equity': 51552.0}

Output/BalanceSheet/1007779-03.csv
{'CIK': '1007779', 'Year': '03', 'Cash & Equivalents': 10284.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 0.0, 'Payables': 0.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 10284.0, 'Total Liabilities & Equity': 10284.0}

Output/BalanceSheet/1068859-07.csv
{'CIK': '1068859', 'Year': '07', 'Cash & Equivalents': 0.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 0.0, 'Payables': 0.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 3486.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1056451-02.csv
{'CIK': '1056451', 'Year': '02', 'Cash & Equivalents': 412132.0, 'Deposits': 38418.0, 'Receivables': 0.0, 'Total Assets': 0.0, 'Payables': 787985.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 325987.0, 'Total Equity': 655830.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1076676-18.csv
{'CIK': '1076676', 'Year': '18', 'Cash & Equivalents': 21133.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 64365.0, 'Payables': 15000.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': -25635.0, 'Total Equity': 49365.0, 'Total Liabilities & Equity': 64365.0}

Output/BalanceSheet/1021958-02.csv
{'CIK': '1021958', 'Year': '02', 'Cash & Equivalents': 0.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 0.0, 'Payables': 0.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 101658.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 176658.0}

Output/BalanceSheet/1060237-15.csv
{'CIK': '1060237', 'Year': '15', 'Cash & Equivalents': 10675239.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 12183632.0, 'Payables': 234057.0, 'Total Liabilities': 1422566.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 8011155.0, 'Total Equity': 10761066.0, 'Total Liabilities & Equity': 12183632.0}

Output/BalanceSheet/1056199-07.csv
{'CIK': '1056199', 'Year': '07', 'Cash & Equivalents': 10493.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 14493.0, 'Payables': 0.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 14493.0}

Output/BalanceSheet/1067122-07.csv
{'CIK': '1067122', 'Year': '07', 'Cash & Equivalents': 0.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 0.0, 'Payables': 0.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1041847-13.csv
{'CIK': '1041847', 'Year': '13', 'Cash & Equivalents': 34967.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 743486.0, 'Payables': 9482.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1028773-04.csv
{'CIK': '1028773', 'Year': '04', 'Cash & Equivalents': 42902.0, 'Deposits': 22099.0, 'Receivables': 3948.0, 'Total Assets': 0.0, 'Payables': 554031.0, 'Total Liabilities': 0.0, 'Common Stock': 100.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1050649-12.csv
{'CIK': '1050649', 'Year': '12', 'Cash & Equivalents': 8496.0, 'Deposits': 0.0, 'Receivables': 1500.0, 'Total Assets': 12424.0, 'Payables': 0.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 11583.0, 'Total Liabilities & Equity': 12424.0}

Output/BalanceSheet/1028562-05.csv
{'CIK': '1028562', 'Year': '05', 'Cash & Equivalents': 5148.0, 'Deposits': 0.0, 'Receivables': 46409.0, 'Total Assets': 70353.0, 'Payables': 43234.0, 'Total Liabilities': 43234.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 27119.0, 'Total Liabilities & Equity': 70353.0}

Output/BalanceSheet/1022465-13.csv
{'CIK': '1022465', 'Year': '13', 'Cash & Equivalents': 115784.0, 'Deposits': 4047.0, 'Receivables': 0.0, 'Total Assets': 267477.0, 'Payables': 0.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1015707-06.csv
{'CIK': '1015707', 'Year': '06', 'Cash & Equivalents': 0.0, 'Deposits': 0.0, 'Receivables': 267162.0, 'Total Assets': 0.0, 'Payables': 0.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1038993-10.csv
{'CIK': '1038993', 'Year': '10', 'Cash & Equivalents': 5454868.0, 'Deposits': 145011.0, 'Receivables': 2720920.0, 'Total Assets': 8508215.0, 'Payables': 6893666.0, 'Total Liabilities': 6968666.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 1494549.0, 'Total Liabilities & Equity': 8508215.0}

Output/BalanceSheet/1070092-14.csv
{'CIK': '1070092', 'Year': '14', 'Cash & Equivalents': 18367466.0, 'Deposits': 750006.0, 'Receivables': 479809.0, 'Total Assets': 141869461.0, 'Payables': 16557740.0, 'Total Liabilities': 121165316.0, 'Common Stock': 10.0, 'Preferred Stock': 0.0, 'Earnings': 9724464.0, 'Total Equity': 20704145.0, 'Total Liabilities & Equity': 141869461.0}

Output/BalanceSheet/1037029-12.csv
{'CIK': '1037029', 'Year': '12', 'Cash & Equivalents': 127439.0, 'Deposits': 0.0, 'Receivables': 93404.0, 'Total Assets': 351079.0, 'Payables': 35693.0, 'Total Liabilities': 43855.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 200557.0, 'Total Equity': 307224.0, 'Total Liabilities & Equity': 351079.0}

Output/BalanceSheet/1044622-02.csv
{'CIK': '1044622', 'Year': '02', 'Cash & Equivalents': 742267.0, 'Deposits': 0.0, 'Receivables': 12817.0, 'Total Assets': 809540.0, 'Payables': 14026.0, 'Total Liabilities': 0.0, 'Common Stock': 10000.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 366678.0, 'Total Liabilities & Equity': 809540.0}

Output/BalanceSheet/1003991-03.csv
{'CIK': '1003991', 'Year': '03', 'Cash & Equivalents': 381358.0, 'Deposits': 0.0, 'Receivables': 95637.0, 'Total Assets': 0.0, 'Payables': 389015.0, 'Total Liabilities': 0.0, 'Common Stock': 955000.0, 'Preferred Stock': 0.0, 'Earnings': -1484404.0, 'Total Equity': 1044255.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1032194-17.csv
{'CIK': '1032194', 'Year': '17', 'Cash & Equivalents': 28036.0, 'Deposits': 0.0, 'Receivables': 1878.0, 'Total Assets': 0.0, 'Payables': 447.0, 'Total Liabilities': 13047.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1001015-08.csv
{'CIK': '1001015', 'Year': '08', 'Cash & Equivalents': 400433.0, 'Deposits': 0.0, 'Receivables': 3289.0, 'Total Assets': 917938.0, 'Payables': 197891.0, 'Total Liabilities': 197891.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 720047.0, 'Total Liabilities & Equity': 917938.0}

Output/BalanceSheet/1001366-07.csv
{'CIK': '1001366', 'Year': '07', 'Cash & Equivalents': 147150.0, 'Deposits': 0.0, 'Receivables': 319520.0, 'Total Assets': 555719.0, 'Payables': 107488.0, 'Total Liabilities': 107488.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 274832.0, 'Total Equity': 448231.0, 'Total Liabilities & Equity': 555719.0}

Output/BalanceSheet/1004468-10.csv
{'CIK': '1004468', 'Year': '10', 'Cash & Equivalents': 0.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 0.0, 'Payables': 110.0, 'Total Liabilities': 0.0, 'Common Stock': 800.0, 'Preferred Stock': 0.0, 'Earnings': 1995.0, 'Total Equity': 9995.0, 'Total Liabilities & Equity': 10105.0}

Output/BalanceSheet/1026209-03.csv
{'CIK': '1026209', 'Year': '03', 'Cash & Equivalents': 31996.0, 'Deposits': 0.0, 'Receivables': 22417.0, 'Total Assets': 69161.0, 'Payables': 1126.0, 'Total Liabilities': 0.0, 'Common Stock': 100.0, 'Preferred Stock': 0.0, 'Earnings': 274703.0, 'Total Equity': 66165.0, 'Total Liabilities & Equity': 69161.0}

Output/BalanceSheet/1058676-04.csv
{'CIK': '1058676', 'Year': '04', 'Cash & Equivalents': 0.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 0.0, 'Payables': 0.0, 'Total Liabilities': 319119.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1034506-07.csv
{'CIK': '1034506', 'Year': '07', 'Cash & Equivalents': 24522.0, 'Deposits': 0.0, 'Receivables': 25716.0, 'Total Assets': 274399.0, 'Payables': 440.0, 'Total Liabilities': 440.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 273959.0, 'Total Liabilities & Equity': 274399.0}

Output/BalanceSheet/1041760-05.csv
{'CIK': '1041760', 'Year': '05', 'Cash & Equivalents': 0.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 0.0, 'Payables': 0.0, 'Total Liabilities': 186561.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 284408.0, 'Total Equity': 568408.0, 'Total Liabilities & Equity': 754969.0}

Output/BalanceSheet/1042778-02.csv
{'CIK': '1042778', 'Year': '02', 'Cash & Equivalents': 0.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 0.0, 'Payables': 11916.0, 'Total Liabilities': 11916.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 18470.0, 'Total Liabilities & Equity': 30386.0}

Output/BalanceSheet/1029859-10.csv
{'CIK': '1029859', 'Year': '10', 'Cash & Equivalents': 2054393.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 59854111.0, 'Payables': 0.0, 'Total Liabilities': 42345689.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1011355-18.csv
{'CIK': '1011355', 'Year': '18', 'Cash & Equivalents': 281776.0, 'Deposits': 0.0, 'Receivables': 27068.0, 'Total Assets': 467384.0, 'Payables': 102925.0, 'Total Liabilities': 102925.0, 'Common Stock': 202850.0, 'Preferred Stock': 0.0, 'Earnings': 161609.0, 'Total Equity': 364459.0, 'Total Liabilities & Equity': 467384.0}

Output/BalanceSheet/1028772-06.csv
{'CIK': '1028772', 'Year': '06', 'Cash & Equivalents': 9313346.0, 'Deposits': 0.0, 'Receivables': 6922019.0, 'Total Assets': 16235365.0, 'Payables': 1240965.0, 'Total Liabilities': 2540554.0, 'Common Stock': 10.0, 'Preferred Stock': 0.0, 'Earnings': 13589004.0, 'Total Equity': 13694811.0, 'Total Liabilities & Equity': 16235365.0}

Output/BalanceSheet/1029859-06.csv
{'CIK': '1029859', 'Year': '06', 'Cash & Equivalents': 958802.0, 'Deposits': 0.0, 'Receivables': 74002.0, 'Total Assets': 39686613.0, 'Payables': 0.0, 'Total Liabilities': 30976328.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1058030-04.csv
{'CIK': '1058030', 'Year': '04', 'Cash & Equivalents': 10671.0, 'Deposits': 0.0, 'Receivables': 2004.0, 'Total Assets': 0.0, 'Payables': 0.0, 'Total Liabilities': 1180.0, 'Common Stock': 12000.0, 'Preferred Stock': 0.0, 'Earnings': 1970.0, 'Total Equity': 13970.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1013542-17.csv
{'CIK': '1013542', 'Year': '17', 'Cash & Equivalents': 592541.0, 'Deposits': 0.0, 'Receivables': 32853.0, 'Total Assets': 757481.0, 'Payables': 54045.0, 'Total Liabilities': 74039.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 683442.0, 'Total Liabilities & Equity': 757481.0}

Output/BalanceSheet/1056798-06.csv
{'CIK': '1056798', 'Year': '06', 'Cash & Equivalents': 0.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 0.0, 'Payables': 841884.0, 'Total Liabilities': 841884.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 5662819.0, 'Total Liabilities & Equity': 6504703.0}

Output/BalanceSheet/1045966-15.csv
{'CIK': '1045966', 'Year': '15', 'Cash & Equivalents': 0.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 0.0, 'Payables': 60385.0, 'Total Liabilities': 60385.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 13173.0, 'Total Liabilities & Equity': 73558.0}

Output/BalanceSheet/1048281-18.csv
{'CIK': '1048281', 'Year': '18', 'Cash & Equivalents': 2922359.0, 'Deposits': 0.0, 'Receivables': 7858786.0, 'Total Assets': 90463655.0, 'Payables': 6949101.0, 'Total Liabilities': 8624389.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 73397789.0, 'Total Equity': 81839266.0, 'Total Liabilities & Equity': 90463655.0}

Output/BalanceSheet/1017760-06.csv
{'CIK': '1017760', 'Year': '06', 'Cash & Equivalents': 20244.0, 'Deposits': 12971.0, 'Receivables': 107474.0, 'Total Assets': 0.0, 'Payables': 29348.0, 'Total Liabilities': 0.0, 'Common Stock': 40000.0, 'Preferred Stock': 0.0, 'Earnings': 63151.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1002201-08.csv
{'CIK': '1002201', 'Year': '08', 'Cash & Equivalents': 1363250.0, 'Deposits': 0.0, 'Receivables': 3886079.0, 'Total Assets': 19643865.0, 'Payables': 13381641.0, 'Total Liabilities': 13381641.0, 'Common Stock': 16667.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 6262224.0, 'Total Liabilities & Equity': 19643865.0}

Output/BalanceSheet/1007779-13.csv
{'CIK': '1007779', 'Year': '13', 'Cash & Equivalents': 8134.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 0.0, 'Payables': 0.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 8134.0, 'Total Liabilities & Equity': 8134.0}

Output/BalanceSheet/103623-14.csv
{'CIK': '103623', 'Year': '14', 'Cash & Equivalents': 39918486.0, 'Deposits': 22900517.0, 'Receivables': 1273764218.0, 'Total Assets': 1250474091.0, 'Payables': 0.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 9232462.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1046616-03.csv
{'CIK': '1046616', 'Year': '03', 'Cash & Equivalents': 25757.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 25757.0, 'Payables': 0.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 25757.0, 'Total Liabilities & Equity': 25757.0}

Output/BalanceSheet/1001692-11.csv
{'CIK': '1001692', 'Year': '11', 'Cash & Equivalents': 71759.0, 'Deposits': 0.0, 'Receivables': 29780.0, 'Total Assets': 126539.0, 'Payables': 0.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': -11346.0, 'Total Equity': 65654.0, 'Total Liabilities & Equity': 126539.0}

Output/BalanceSheet/1019314-03.csv
{'CIK': '1019314', 'Year': '03', 'Cash & Equivalents': 41840.0, 'Deposits': 447.0, 'Receivables': 26800.0, 'Total Assets': 0.0, 'Payables': 29259.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 8828.0, 'Total Equity': 39828.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1037726-02.csv
{'CIK': '1037726', 'Year': '02', 'Cash & Equivalents': 22150.0, 'Deposits': 0.0, 'Receivables': 74963.0, 'Total Assets': 2517397.0, 'Payables': 217392.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 2300005.0, 'Total Liabilities & Equity': 2517397.0}

Output/BalanceSheet/1005946-10.csv
{'CIK': '1005946', 'Year': '10', 'Cash & Equivalents': 695189.0, 'Deposits': 0.0, 'Receivables': 0.0, 'Total Assets': 923262.0, 'Payables': 35000.0, 'Total Liabilities': 161295.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 310434.0, 'Total Equity': 761967.0, 'Total Liabilities & Equity': 923262.0}

Output/BalanceSheet/1049770-10.csv
{'CIK': '1049770', 'Year': '10', 'Cash & Equivalents': 68694.0, 'Deposits': 8219.0, 'Receivables': 28217.0, 'Total Assets': 0.0, 'Payables': 5000.0, 'Total Liabilities': 0.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 75665.0, 'Total Equity': 0.0, 'Total Liabilities & Equity': 0.0}

Output/BalanceSheet/1071392-03.csv
{'CIK': '1071392', 'Year': '03', 'Cash & Equivalents': 193138.0, 'Deposits': 0.0, 'Receivables': 36350.0, 'Total Assets': 307569.0, 'Payables': 51535.0, 'Total Liabilities': 57321.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 250248.0, 'Total Liabilities & Equity': 307569.0}

Output/BalanceSheet/1013851-06.csv
{'CIK': '1013851', 'Year': '06', 'Cash & Equivalents': 152081.0, 'Deposits': 0.0, 'Receivables': 46445.0, 'Total Assets': 567177.0, 'Payables': 10141.0, 'Total Liabilities': 20725.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 154956.0, 'Total Equity': 546452.0, 'Total Liabilities & Equity': 567177.0}

Output/BalanceSheet/1002806-02.csv
{'CIK': '1002806', 'Year': '02', 'Cash & Equivalents': 2232838.0, 'Deposits': 0.0, 'Receivables': 77032.0, 'Total Assets': 6787193.0, 'Payables': 413403.0, 'Total Liabilities': 0.0, 'Common Stock': 805000.0, 'Preferred Stock': 0.0, 'Earnings': 0.0, 'Total Equity': 6373790.0, 'Total Liabilities & Equity': 6787193.0}

Output/BalanceSheet/1010591-04.csv
{'CIK': '1010591', 'Year': '04', 'Cash & Equivalents': 67531.0, 'Deposits': 0.0, 'Receivables': 12342.0, 'Total Assets': 114774.0, 'Payables': 50468.0, 'Total Liabilities': 50468.0, 'Common Stock': 0.0, 'Preferred Stock': 0.0, 'Earnings': 35006.0, 'Total Equity': 64306.0, 'Total Liabilities & Equity': 114774.0}

TypeError: 'float' object is not subscriptable

In [23]:
# # export database built to .csv file
# pd.concat(itters).to_csv('sample.csv', index=False)

In [42]:
pd.concat(itters)

,CIK,Year,Cash & Equivalents,Deposits,Receivables,Total Assets,Payables,Total Liabilities,Common Stock,Preferred Stock,Earnings,Total Equity,Total Liabilities & Equity,Other Assets,Other Liabilities,Other Equity
0,1021474,04,14933,10000,13113,51552,5463,5463,0,0,0,46089,51552,13506,0,46089
0,1007779,03,10284,0,0,0,0,0,0,0,0,10284,0,-10284,0,10284
0,1076676,18,21133,0,0,64365,15000,0,0,0,-25635,49365,64365,43232,-15000,75000
0,1021958,02,0,0,0,0,0,0,0,0,101658,0,0,0,0,-101658
0,1060237,15,1.06752e+07,0,0,1.21836e+07,234057,1.42257e+06,0,0,8.01116e+06,1.07611e+07,1.21836e+07,1.50839e+06,1.18851e+06,2.74991e+06
0,1056199,07,10493,0,0,14493,0,0,0,0,0,0,14493,4000,0,0
0,1050649,12,8496,0,1500,12424,0,0,0,0,0,11583,12424,2428,0,11583
0,1028562,05,5148,0,46409,70353,43234,43234,0,0,0,27119,70353,18796,0,27119
0,1038993,10,5.45487e+06,145011,2.72092e+06,8.50822e+06,6.89367e+06,6.96867e+06,0,0,0,1.49455e+06,8.50822e+06,187416,75000,1.49455e+06
0,1070092,14,1.83675e+07,750006,479809,1.41869e+08,1.65577e+07,1.21165e+08,10,0,9.72446e+06,2.07041e+07,1.41869e+08,1.22272e+08,1.04608e+08,1.09797e+07
0,1037029,12,127439,0,93404,351079,35693,43855,0,0,200557,307224,351079,130236,8162,106667
0,1044622,02,742267,0,12817,809540,14026,0,10000,0,0,366678,809540,54456,-14026,356678
0,1001015,08,400433,0,3289,917938,197891,197891,0,0,0,720047,917938,514216,0,720047
0,1001366,07,147150,0,319520,555719,107488,107488,0,0,274832,448231,555719,89049,0,173399
0,1004468,10,0,0,0,0,110,0,800,0,1995,9995,0,0,-110,7200
0,1026209,03,31996,0,22417,69161,1126,0,100,0,274703,66165,69161,14748,-1126,-208638
0,1034506,07,24522,0,25716,274399,440,440,0,0,0,273959,274399,224161,0,273959
0,1041760,05,0,0,0,0,0,186561,0,0,284408,568408,0,0,186561,284000
0,1042778,02,0,0,0,0,11916,11916,0,0,0,18470,0,0,0,18470
0,1011355,18,281776,0,27068,467384,102925,102925,202850,0,161609,364459,467384,158540,0,0
0,1028772,06,9.31335e+06,0,6.92202e+06,1.62354e+07,1.24096e+06,2.54055e+06,10,0,1.3589e+07,1.36948e+07,1.62354e+07,0,1.29959e+06,105797
0,1013542,17,592541,0,32853,757481,54045,74039,0,0,0,683442,757481,132087,19994,683442
0,1056798,06,0,0,0,0,841884,841884,0,0,0,5.66282e+06,0,0,0,5.66282e+06
0,1045966,15,0,0,0,0,60385,60385,0,0,0,13173,0,0,0,13173
0,1048281,18,2.92236e+06,0,7.85879e+06,9.04637e+07,6.9491e+06,8.62439e+06,0,0,7.33978e+07,8.18393e+07,9.04637e+07,7.96825e+07,1.67529e+06,8.44148e+06
0,1002201,08,1.36325e+06,0,3.88608e+06,1.96439e+07,1.33816e+07,1.33816e+07,16667,0,0,6.26222e+06,1.96439e+07,1.43945e+07,0,6.24556e+06
0,1007779,13,8134,0,0,0,0,0,0,0,0,8134,0,-8134,0,8134
0,1046616,03,25757,0,0,25757,0,0,0,0,0,25757,25757,0,0,25757
0,1001692,11,71759,0,29780,126539,0,0,0,0,-11346,65654,126539,25000,0,77000
0,1037726,02,22150,0,74963,2.5174e+06,217392,0,0,0,0,2.30000e+06,2.5174e+06,2.42028e+06,-217392,2.30000e+06
0,1005946,10,695189,0,0,923262,35000,161295,0,0,310434,761967,923262,228073,126295,451533
0,1071392,03,193138,0,36350,307569,51535,57321,0,0,0,250248,307569,78081,5786,250248
0,1013851,06,152081,0,46445,567177,10141,20725,0,0,154956,546452,567177,368651,10584,391496
0,1002806,02,2.23284e+06,0,77032,6.78719e+06,413403,0,805000,0,0,6.37379e+06,6.78719e+06,4.47732e+06,-413403,5.56879e+06
0,1010591,04,67531,0,12342,114774,50468,50468,0,0,35006,64306,114774,34901,0,29300

In [27]:
error / len(selections)

0.2

In [59]:
a = df[df.columns[1:3]].dropna()

In [60]:
a

                                                    0       1
11  1. from outsiders*g $ 2. includes equity subor...   970.0
12                                               of $   980.0
13  B. Securities borrowings, at market value from...   990.0
15                                1. from outsiders $  1000.0
16  2. includes equity subordination (15c3-1(d)) of $  1010.0

In [62]:
a[a.columns[1]].apply(cleanNumeric)

11     970.0
12     980.0
13     990.0
15    1000.0
16    1010.0
Name: 1, dtype: float64