In [222]:
%pip install fuzzywuzzy
%pip install python-Levenshtein

Requirement already satisfied: fuzzywuzzy in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (0.18.0)
Note: you may need to restart the kernel to use updated packages.
Collecting python-Levenshtein
  Downloading python-Levenshtein-0.12.2.tar.gz (50 kB)
     |████████████████████████████████| 50 kB 3.0 MB/s eta 0:00:011
Requirement already satisfied: setuptools in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from python-Levenshtein) (49.6.0.post20210108)
Building wheels for collected packages: python-Levenshtein
  Building wheel for python-Levenshtein (setup.py) ... done
  Created wheel for python-Levenshtein: filename=python_Levenshtein-0.12.2-cp36-cp36m-linux_x86_64.whl size=155937 sha256=50176754e1b9e3a918e1dbbd36ea5cfe3772e58b70e7d741322b8d54a391030a
  Stored in directory: /home/ec2-user/.cache/pip/wheels/4a/a4/bf/d761b0899395c75fa76d003d607b3869ee47f5035b8afc30a2
Successfully built python-Levenshtein
Installing collected packages: python-Levenshtein
Successfully installed python-Levenshtein-0.12.2
Note: you may need to restart the kernel to use updated packages.

In [223]:
import os
import re
import botocore
import boto3
import json
import time
import requests
import datetime

import pandas as pd
import numpy as np

from sagemaker.session import Session
from difflib import SequenceMatcher
from bs4 import BeautifulSoup
from fuzzywuzzy import fuzz

## Accounting term matching
**Check to see if we report totals (e.g. Total Liability & Shareholder Equity) or sub-totals (e.g. Total Financial Instruments), these figure are not needed for construction of the unstructured database (avoid classification issue)**

In [204]:
# numpy exception for handling invalid log10 RunTime error (we opt to not show)
# switch 'ignore' to 'warn', if you would like to flag the RunTime error 
np.seterr(invalid = 'ignore') 

def multiple_check(x1:float, x2:float):
    """
    Determine whether the two values are the same number scaled by 10
    """
    # prevent zero division error since x1 is the denominator and log10 zero division error
    if (x1 == 0) or (x2 == 0): return False
    else:
        # if our backward sum is a multiple of 10, we return True 
        # (e.g. Total Assets (x1) 745.2322 vs Backward Sum (x2) 7452322)
        check1 = np.log10(x2 / x1).is_integer()

        # if our backward sum is a substring of a line item, with a difference of one in length, we return True 
        # (e.g. Total Assets (x1) 174182935 vs Backward Sum (x2) 74182935)
        check2 = (str(x2) in str(x1) ) & (len(str(x2)) == len(str(x1)) - 1)

        if check1 or check2: 
            return True
        else: 
            return False

def epsilon_error(x1:float, x2:float, tol:float=0.01):
    """
    Determine whether the two values are within a similar epsilon bound. We default our error tolerance
    to 0.01, implying that if two numbers are within a specified toleracnce (default 1% ) of one another 
    """
    if (x1 == 0) or (x2 == 0): return False
    else:
        # first we convert the numeric quantities into strings
        current = str(x1)
        lookback = str(x2)

        # we only want to check against the relative difference if one element in the number is read wrong
        if len(current) == len(lookback):
            
            # we iterate linearly through each string and check to see the positional match 
            # if we catch and mismatch we flag it with a 1, othewise skip with 0
            changes = [0 if (current[i] == lookback[i]) else 1 for i in range(len(current))]

            # check set differences produce a set with exactly 1 in length
            if sum(changes) == 1:

                diff = abs(x1 - x2)      # compute numeric differences

                # check to see whether an accounting condition was met wihtin a boundary condition
                if abs(diff / x1) <= tol:
                    return True

        return False

In [205]:
def totals_check(df:pd.DataFrame) -> tuple:
    """
    Checks to see if a line row meets the conditon of a total, if true we remove these rows as we make 
    have checked the terms before have meet our conditions (these include major and minor totals)
    ------------------------------------------------------------------------------------
    :param: (type pandas.DataFrame)
        A DataFrame that represents the Asset or Liability & Equity portion of the balance sheet
        
    :return: (type tuple)
        Return a cleaned DataFrame that strips the rows that represent totals
    """
    m, n = df.shape                  # unpack the shape of dataframe
    data_col = df.columns[1]         # the values column for balance sheet
    
    total_flag = 2       # default 2 (no measure found), 1 (sum is correct), 0 (sum is not correct)
    total_amt = np.nan
    
    # iterate through each of the line items
    for i in range(m):
        
        # check the value of line items at a given index (forward index)
        item1 = df.loc[i].values[1]
        name = df.loc[i].values[0]
        
        # ------------------------------------------------------------------
        # Perform regex search to determine "special" total rows
        # ------------------------------------------------------------------
        a_check = re.search('total assets', name, flags=re.I)
        le_check = re.search('(?=.*(liability|liabilities))(?=.*(equity|deficit|capital))', 
                             name, flags=re.I)
        # ------------------------------------------------------------------
        
        # if we find either total measure we re-write indicators
        if a_check is not None or le_check is not None:
            total_flag = 0; total_amt = item1;
        
        # compute backward sum (lookback index) 
        for j in range(i):
            
            # check whether dataframe empty (if so we skip to avoid fitting errors)
            # NOTE: Index position (i-1)   = line above current line
            #                      (i-j-1) = trailing look up line 'j' lines above the line above current line
            lookback = df.loc[i-j-1:i-1][data_col]
            
            # we check whether the lookback period is empty (if so we most likely deleted the row)
            if not lookback.empty:
                # backward sum for line items (index minus j-periods before)
                item2 = lookback.sum()

                # if we achieve this then we strip totals and break, no need to continue backward sum
                if (item1 == item2) or multiple_check(item1, item2) or epsilon_error(item1, item2, tol=0.01):
                    df = df.drop(index=i)
                    
                    # if we drop the "Total" line-item then we re-assign flag to 1
                    if a_check is not None or le_check is not None:
                        total_flag = 1
                    
                    # Error Handling for row deletions (uncomment for when not in use)
                    print('\tWe dropped row {}, {}, with lookback window of {}.'.format(i, name, j+1))
                    print('\t\tOur row is valued at {}, our lookback sum is {}'.format(item1, item2))
                    
                    # we break from inner loop to avoid key error flag 
                    break     
                
    return (df, total_flag, total_amt)

## Merging PDFs and PNGs 
**Functions to combine PDFs and PNGs where rows may be omitted**

In [278]:
def special_merge(df1:pd.DataFrame, df2:pd.DataFrame, col:str) -> pd.DataFrame:
    """
    Special type of merge for dataframes, combining all unique row items for a specified column. 
    This is designed to combine PDF and PNG balance sheets that differ in one or more rows.
    ------------------------------------------------------------------------------------
    :param: (type pandas.DataFrame)
        A DataFrame that represents either the PDF or PNG retreived from Balance Sheet
    :param: (type pandas.DataFrame)
        A DataFrame that represents either the PDF or PNG retreived from Balance Sheet
    :param: (type str)
        A shared column name that exists in both pandas.DataFrames (i.e. df1, df2)
        
    :return: (type pandas.DataFrame)
        Return a cleaned DataFrame that merges any row that was omitted, changed or missing
    """
    arr1 = df1[col].values
    arr2 = df2[col].values
    concat_pdf = []
    
    # find the sequences that match between either lineitems
    sm = SequenceMatcher(a=arr1, b=arr2)

    # The SequenceMathcer returns a 5-tupled for each correspond "obj"
    # 'replace'     a[i1:i2] should be replaced by b[j1:j2].
    # 'delete'      a[i1:i2] should be deleted. Note that j1 == j2 in this case.
    # 'insert'      b[j1:j2] should be inserted at a[i1:i1]. Note that i1 == i2 in this case.
    # 'equal'       a[i1:i2] == b[j1:j2] (the sub-sequences are equal)
    for (obj, i1, i2, j1, j2) in sm.get_opcodes():
        
        # implies that we want to "replace" the left side elment with the corresponding
        # right side element at the same index position (we perseve both)
        if obj == 'replace':
            
            # check the value of a fuzzy match, only insert both rows if they vastly different
            left_names = arr1[i1:i2]
            right_names = arr2[j1:j2]
            
            # iterate through each of the checks
            for it, (left, right) in enumerate(zip(left_names, right_names)):
                
                # compute the fuzz match between string (how close are these values)
                score = fuzz.partial_ratio(left.lower(), right.lower())

                # if not close in match then we append both values
                if score < 90:
                    concat_pdf.append(df1.iloc[i1:i1+it+1])
                    concat_pdf.append(df2.iloc[j1:j1+it+1])
                else:
                    concat_pdf.append(df1.iloc[i1:i1+it+1])
        
        # implies that we want to "delete" the left side element (we preserve this side)
        elif obj == 'delete':
            concat_pdf.append(df1.iloc[i1:i2])
        
        # implied that we want to "insert" the right side element (we preserve this side)
        elif obj == 'insert':
            concat_pdf.append(df2.iloc[j1:j2])
            
        elif obj == 'equal':
            concat_pdf.append(df1.iloc[i1:i2])
    
    # return concated pandas.DataFrame and reset index, removing old index
    return pd.concat(concat_pdf).reset_index(drop=True)

## Unstructured Database construction
**We develop our unstructured database from each of the non-total rows (concating the line items)**

In [207]:
def unstructured_data(df, filing_d, fiscal_y, cik, cik2name:dict) -> pd.DataFrame:
    """
    Forms unstructured row for larger database to be stored in s3 bucket
    ------------------------------------------------------------------------------------------
    Input:
        :param: df (type pandas.DataFrame)
            The balance sheet for a particular  
        :paran: filing_d (type str)
            The filing date for release of X-17A-5 filings for a broker dealer e.g. 2013-03-21
        :paran: fiscal_y (type str)
            The fiscal year for the balance sheet to cover e.g. 2012 (usually 1-year prior to filing date)
        :paran: cik (type str)
            The CIK number for a broker dealer e.g. 887767
        :paran: cik2name (type dict)
            A dictionary that maps CIK to Broker Deale names 
    Output:  
        :return: (type pandas.DataFrame)
             Return a transposed dataframe with additional columns corresponding to filing data
    """
    
    # intialize the first column (line items)
    first_column = df.columns[0]
    
    # clean dataframe should be of size greater than 1
    if len(df.columns) > 1:
        
        # transpose split balance sheet figure (our line items are now columns for DataFrame)
        # we first groupby the first column (this become index) and sum to group congruent names
        row = df.groupby(first_column).sum(min_count=1).T
        
        # creating additional columns in row
        row['CIK'] = cik                                  # CIK number for firm 
        row['Filing Date'] = filing_d                     # Filing Date for firm filing
        row['Filing Year'] = fiscal_y                     # Year for balance sheet filing
        row['Name'] = cik2name['broker-dealers'][cik]     # returns the name of associated with the CIK
        
        return row
    
    else:
        print('{}-{}.csv - encountered issue reading PDF'.format(cik, filing_d))
        return None

In [208]:
def extra_cols(csv_name:str):
    """
    Check to see whether their exists the presence of a total term from the line items
    ------------------------------------------------------------------------------------------
    Input:
        :param: csv_name (type str)
            The file directory on the s3 where data is stored (e.g. )
    Output:  
        :return: (type tuple)
            Returns a tuple for corresponding (file_name, filing_date, fiscal_year, cik)
    """
    
    file_name = csv_name.split('/')[-1]        # e.g. '1224385-2005-03-01.csv'
    csv_strip = file_name[:-4]                 # ignore last four elements from the back (i.e. .csv)

    # construct a string measure of important data measures 
    data_split = csv_strip.split('-')              
    filing_date = '-'.join(data_split[1:])         # join YYYY-mm-dd component for filing date
    fiscal_year = int(data_split[1]) - 1           # fiscal year are generally the previous year of filing
    cik = data_split[0]                            # extract the CIK number  
    
    return (file_name, filing_date, fiscal_year, cik)

In [209]:
def reorder_columns(df:pd.DataFrame, col_preserve:list) -> pd.DataFrame:
    """
    Re-order the completed DataFrame by ordering the CIK, Name, Filing Data and Filing Year 
    ------------------------------------------------------------------------------------------
    Input:
        :param: df (type pandas.DataFrame)
            The unstructured database for balance sheet figures
    Output:  
        :return: (type pandas.DataFrame)
            Return a dataframe with dimensions less than or equal to input dataframe (MxN) -> (MxK), 
            where K <= N
    """
    # re-order the CIK and Year columns to appear as the first two columns
    remap = df.columns[~np.isin(df.columns, col_preserve)]                             
    df = df[np.insert(remap,                                       # pass all other columns, not in preserve list
                      np.zeros(len(col_preserve), dtype=int),      # map the location to the first index (i.e. 0)
                      col_preserve)]                               # insert columns we wished to preserve 

    filterNaN = df.isnull().all()                      # find if any column is all NaN 
    cleanCols = filterNaN[filterNaN == False].index    # select columns with at least one value

    # clean dataframe for unstructured asset terms
    return df[cleanCols]

## Final Main Execution

In [277]:
if __name__ == "__main__":
    
    # initiate s3 bucket and corresponding data folder
    bucket = "ran-s3-systemic-risk"
    
    pdf_asset_folder = "Output/X-17A-5-SPLIT-PDFS/Assets/"
    pdf_liable_folder = "Output/X-17A-5-SPLIT-PDFS/Liability & Equity/"
    
    png_asset_folder = "Output/X-17A-5-SPLIT-PNGS/Assets/"
    png_liable_folder = "Output/X-17A-5-SPLIT-PNGS/Liability & Equity/"
    
    out_folder = "Output/"

    # Amazon Textract client and Sagemaker session
    s3 = boto3.client('s3')
    session = Session()
    
    # ==============================================================================
    # ALL TEMPORARY FILE INFORMATION 
    # ==============================================================================
    # retrieving CIK-Dealers JSON file from s3 bucket
    s3.download_file(bucket, 'Temp/CIKandDealers.json', 'temp.json')
    with open('temp.json', 'r') as f: cik2brokers = json.loads(f.read())

    # remove local file after it has been created (variable is stored in memory)
    os.remove('temp.json')
    # ==============================================================================
    
    # s3 paths where asset and liability paths are stored
    asset_paths = session.list_s3_files(bucket, pdf_asset_folder)
    liable_paths = session.list_s3_files(bucket, pdf_liable_folder)
    
    # intialize list to store dataframes for asset and liability & equity
    asset_concat = [0] * len(asset_paths)
    liable_concat = [0] * len(liable_paths)
    
    # --------------------------------------------
    # Asset Unstructured Database
    # --------------------------------------------
    print('Assets Unstructured Database')
    for idx, csv in enumerate(asset_paths):
        
        # decompose csv name into corresponding terms
        fileName, filing_date, fiscal_year, cik = extra_cols(csv)
        
        # first load in both the PNG and PDF split balance sheets
        # NOTE: All these balance sheets are cleaned numerical values
        try:
            s3.download_file(bucket, csv, 'temp.csv')
            pdf_df = pd.read_csv('temp.csv')
            s3.download_file(bucket, png_asset_folder + fileName, 'temp.csv')
            png_df = pd.read_csv('temp.csv')
            os.remove('temp.csv')

            print('Working on {}-{}'.format(cik, filing_date))

            # do a special merge that combines unique line items names between PDF & PNG
            temp_df1 = special_merge(pdf_df, png_df, '0')

            # run accounting check to remove sub-totals for each respective line-item
            df, total_flag, total_amt = totals_check(temp_df1)
            
            # construct row for the unstructured data frame 
            export_df = unstructured_data(df, filing_date, fiscal_year, cik, cik2brokers)
            
            # we have that no "total asset" figure was found
            if total_flag == 2:
                export_df["Total asset check"] = "Total asset not found"
                export_df["Total asset"] = total_amt

            # we have that "total asset" was found and matches
            elif total_flag == 1:
                export_df["Total asset check"] = "Total asset found & match"
                export_df["Total asset"] = total_amt

            # we have that "total asset" was found, but did not match correctly
            elif total_flag == 0:
                export_df["Total asset check"] = "Total asset found & no match"

            # stores the reported data frame 
            asset_concat[idx] = export_df
        
        # in the event we can't download file from s3 (i.e. does not exist, we ignore the )
        except botocore.exceptions.ClientError:
            
            # assign an empty DataFrame and print out error
            asset_concat[idx] = pd.DataFrame()
            
            print('\nCLIENT-ERROR: WE COULD NOT DOWNLOAD SPLIT DATA FOR {}'.format(fileName))
     
    print('\n\n\n\n')
        
    # --------------------------------------------
    # Liability & Equity Unstructured Database
    # --------------------------------------------
    print('\nLiability & Equity Unstructured Database')
    for idx, csv in enumerate(liable_paths):
        
        # decompose csv name into corresponding terms
        fileName, filing_date, fiscal_year, cik = extra_cols(csv)
        
        try:
            # first load in both the PNG and PDF split balance sheets
            # NOTE: All these balance sheets are cleaned numerical values
            s3.download_file(bucket, csv, 'temp.csv')
            pdf_df = pd.read_csv('temp.csv')
            s3.download_file(bucket, png_liable_folder + fileName, 'temp.csv')
            png_df = pd.read_csv('temp.csv')
            os.remove('temp.csv')

            print('Working on {}-{}'.format(cik, filing_date))

            # do a special merge that combines unique line items names between PDF & PNG
            temp_df1 = special_merge(pdf_df, png_df, '0')

            # run accounting check to remove sub-totals for each respective line-item
            df, total_flag, total_amt = totals_check(temp_df1)
            
            # construct row for the unstructured data frame 
            export_df = unstructured_data(df, filing_date, fiscal_year, cik, cik2brokers)
            
            # we have that no "total asset" figure was found
            if total_flag == 2:
                export_df["Total liabilities & shareholder's equity check"] = "Total liabilities & shareholder's equity not found"
                export_df["Total liabilities & shareholder's equity"] = total_amt

            # we have that "total asset" was found and matches
            elif total_flag == 1:
                export_df["Total liabilities & shareholder's equity check"] = "Total liabilities & shareholder's equity found & match"
                export_df["Total liabilities & shareholder's equity"] = total_amt
        
            # we have that "total asset" was found, but did not match correctly
            elif total_flag == 0:
                export_df["Total liabilities & shareholder's equity check"] = "Total liabilities & shareholder's equity found & no match"
                
            # stores the reported data frame 
            liable_concat[idx] = export_df
        
        # in the event we can't download file from s3 (i.e. does not exist, we ignore the )
        except botocore.exceptions.ClientError:
            
            # assign an empty DataFrame and print out error
            liable_concat[idx] = pd.DataFrame()
            
            print('\nCLIENT-ERROR: WE COULD NOT DOWNLOAD SPLIT DATA FOR {}'.format(fileName))
    
    # --------------------------------------------
    # Database exportation
    # --------------------------------------------
    
    # writing data frame to .csv file
    asset_df = pd.concat(asset_concat)        # asset dataframe combining all rows from 
    asset_df = reorder_columns(asset_df,      # re-order columns for dataframe
                               col_preserve=['CIK', 'Name', 'Filing Date', 'Filing Year', 
                                             'Total asset check'])      
    
    filename1 = 'unstructured_assets.csv'
    asset_df.to_csv(filename1, index=False)
    with open(filename1, 'rb') as data:
        s3.put_object(Bucket=bucket, Key=out_folder + filename1, Body=data)
    
    
    # writing data frame to .csv file
    liable_df = pd.concat(liable_concat)     
    liable_df = reorder_columns(liable_df, 
                                col_preserve=['CIK', 'Name', 'Filing Date', 'Filing Year', 
                                              "Total liabilities & shareholder's equity check"])    
    
    filename2 = 'unstructured_liable.csv'
    liable_df.to_csv(filename2, index=False)
    with open(filename2, 'rb') as data:
        s3.put_object(Bucket=bucket, Key=out_folder + filename2, Body=data)
    
    # remove local file after it has been created
    os.remove(filename1)
    os.remove(filename2)
    
    print('\nWe created an unstructured asset and liability & equity')

Assets Unstructured Database
Working on 1224385-2004-03-01
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 21509787000.0, our lookback sum is 21509787000.0
Working on 1224385-2005-03-01
equal 0 10 0 10
	We dropped row 9, Total assets, with lookback window of 9.
		Our row is valued at 35611655000.0, our lookback sum is 35611655000.0
Working on 1224385-2006-03-01
equal 0 10 0 10
	We dropped row 9, Total assets, with lookback window of 9.
		Our row is valued at 24029490000.0, our lookback sum is 24029490000.0
Working on 1224385-2007-03-01
equal 0 10 0 10
	We dropped row 9, Total assets, with lookback window of 9.
		Our row is valued at 20879923000.0, our lookback sum is 20879923000.0
Working on 1224385-2008-02-29
equal 0 9 0 9
	We dropped row 8, Total assets, with lookback window of 8.
		Our row is valued at 21660817000.0, our lookback sum is 21660817000.0
Working on 1224385-2009-03-02
equal 0 9 0 9
	We dropped row 8, Total assets, with lookback window of 8.
		Our row is valued at 9580535000.0, our lookback sum is 9580535000.0
Working on 1224385-2010-03-12
equal 0 10 0 10
	We dropped row 9, Total assets, with lookback window of 9.
		Our row is valued at 17499658000.0, our lookback sum is 17499658000.0
Working on 1224385-2011-03-01
equal 0 9 0 9
	We dropped row 8, Total assets, with lookback window of 8.
		Our row is valued at 37609933000.0, our lookback sum is 37609933000.0
Working on 1224385-2012-02-29
equal 0 9 0 9
	We dropped row 8, Total assets, with lookback window of 8.
		Our row is valued at 39534067000.0, our lookback sum is 39534067000.0
Working on 1224385-2013-03-01
equal 0 10 0 10
	We dropped row 9, Total assets, with lookback window of 9.
		Our row is valued at 43524084000.0, our lookback sum is 43524084000.0
Working on 1224385-2014-03-04
equal 0 10 0 10
	We dropped row 9, Total assets, with lookback window of 9.
		Our row is valued at 48144895000.0, our lookback sum is 48144895000.0
Working on 1224385-2015-03-02
equal 0 10 0 10
	We dropped row 9, Total assets, with lookback window of 9.
		Our row is valued at 64835741000.0, our lookback sum is 64835741000.0
Working on 1224385-2016-02-29
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 90531855000.0, our lookback sum is 90531855000.0
Working on 1224385-2017-03-01
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 112940487000.0, our lookback sum is 112940487000.0
Working on 1224385-2018-02-28
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 131402200000.0, our lookback sum is 131402200000.0
Working on 1224385-2019-02-28
equal 0 12 0 12
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 134323969000.0, our lookback sum is 134323969000.0
Working on 1224385-2020-02-28
equal 0 12 0 12
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 141834542000.0, our lookback sum is 141834542000.0
Working on 1224385-2021-02-26
equal 0 12 0 12
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 132758281000.0, our lookback sum is 132758281000.0
Working on 42352-2002-01-30
equal 0 9 0 9
Working on 42352-2003-01-28
insert 0 0 0 1
equal 0 9 1 10
	We dropped row 8, Total financial instruments owned, at fair value, with lookback window of 2.
		Our row is valued at 40528247000.0, our lookback sum is 40528247000.0
Working on 42352-2004-01-27
equal 0 10 0 10
	We dropped row 8, Total financial instruments owned, at fair value, with lookback window of 2.
		Our row is valued at 53321469000.0, our lookback sum is 53321469000.0
Working on 42352-2005-01-25
equal 0 11 0 11
	We dropped row 8, Total financial instruments owned, at fair value, with lookback window of 2.
		Our row is valued at 65452780000.0, our lookback sum is 65452780000.0
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 348590977000.0, our lookback sum is 348590977000.0
Working on 42352-2006-01-24
equal 0 11 0 11
	We dropped row 8, Total financial instruments owned, at fair value, with lookback window of 2.
		Our row is valued at 106354891000.0, our lookback sum is 106354891000.0
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 475872139000.0, our lookback sum is 475872139000.0
Working on 42352-2007-01-23
equal 0 11 0 11
	We dropped row 8, Total financial instruments owned, at fair value, with lookback window of 2.
		Our row is valued at 105900570000.0, our lookback sum is 105900570000.0
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 509250736000.0, our lookback sum is 509250736000.0
Working on 42352-2008-01-29
equal 0 11 0 11
	We dropped row 8, Total financial instruments owned, at fair value, with lookback window of 2.
		Our row is valued at 118741785000.0, our lookback sum is 118741785000.0
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 632858770000.0, our lookback sum is 632858770000.0
Working on 42352-2010-03-01
equal 0 11 0 11
	We dropped row 8, Total financial instruments owned, at fair value, with lookback window of 2.
		Our row is valued at 132743000000.0, our lookback sum is 132743000000.0
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 463755000000.0, our lookback sum is 463755000000.0
Working on 42352-2011-03-01
replace 0 1 0 1
equal 1 6 1 6
replace 6 7 6 7
equal 7 8 7 8
replace 8 9 8 9
equal 9 11 9 11
Working on 42352-2012-02-29
equal 0 11 0 11
	We dropped row 8, Total financial instruments owned, at fair value, with lookback window of 2.
		Our row is valued at 143357000000.0, our lookback sum is 143357000000.0
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 504694000000.0, our lookback sum is 504694000000.0
Working on 42352-2013-03-01
equal 0 9 0 9
	We dropped row 8, Total assets, with lookback window of 8.
		Our row is valued at 501095000000.0, our lookback sum is 501095000000.0
Working on 42352-2014-07-31
equal 0 1 0 1
replace 1 2 1 2
equal 2 3 2 3
replace 3 4 3 4
equal 4 9 4 9
	We dropped row 8, Total assets, with lookback window of 8.
		Our row is valued at 524526000000.0, our lookback sum is 524516000000.0
Working on 42352-2015-03-10
equal 0 2 0 2
replace 2 3 2 3
equal 3 4 3 4
replace 4 5 4 5
equal 5 9 5 9
Working on 42352-2016-02-23
replace 0 1 0 1
equal 1 9 1 9
	We dropped row 8, Total assets, with lookback window of 8.
		Our row is valued at 454751000000.0, our lookback sum is 454751000000.0
Working on 42352-2017-03-01
replace 0 1 0 1
equal 1 2 1 2
replace 2 3 2 3
equal 3 8 3 8
	We dropped row 7, Total assets, with lookback window of 7.
		Our row is valued at 424849000000.0, our lookback sum is 424649000000.0
Working on 42352-2018-02-27
equal 0 8 0 8
	We dropped row 7, Total assets, with lookback window of 7.
		Our row is valued at 453927000000.0, our lookback sum is 453927000000.0
Working on 42352-2019-03-01
equal 0 8 0 8
	We dropped row 7, Total assets, with lookback window of 7.
		Our row is valued at 416665000000.0, our lookback sum is 416665000000.0
Working on 42352-2021-02-25
equal 0 8 0 8
	We dropped row 7, Total assets, with lookback window of 7.
		Our row is valued at 507647000000.0, our lookback sum is 507647000000.0
Working on 58056-2002-03-01
equal 0 16 0 16
Working on 58056-2003-03-03
equal 0 15 0 15
Working on 58056-2004-02-27
equal 0 15 0 15
Working on 58056-2004-03-26
equal 0 15 0 15
Working on 58056-2005-02-25
equal 0 16 0 16
	We dropped row 15, Total assets, with lookback window of 15.
		Our row is valued at 253278304000.0, our lookback sum is 253278304000.0
Working on 58056-2006-03-24
equal 0 9 0 9
replace 9 10 9 10
equal 10 12 10 12
replace 12 13 12 13
equal 13 15 13 15
	We dropped row 14, Total assets, with lookback window of 14.
		Our row is valued at 264444724000.0, our lookback sum is 264444714000.0
Working on 58056-2007-03-01
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 317870722000.0, our lookback sum is 317870722000.0
Working on 58056-2008-02-29
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 519780630000.0, our lookback sum is 519780630000.0

Working on 58056-2009-03-16
equal 0 2 0 2
replace 2 3 2 3
equal 3 11 3 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 244413278000.0, our lookback sum is 244413278000.0
Working on 58056-2010-06-04
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 249693066000.0, our lookback sum is 249693066000.0
Working on 58056-2012-02-29
equal 0 9 0 9
replace 9 10 9 11
equal 10 11 11 12
Working on 58056-2013-03-01
equal 0 1 0 1
replace 1 2 1 2
equal 2 11 2 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 240046000000.0, our lookback sum is 240046000000.0
Working on 58056-2014-03-04
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 227451000000.0, our lookback sum is 227451000000.0
Working on 58056-2015-03-02
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 173638000000.0, our lookback sum is 173638000000.0
Working on 58056-2016-02-29
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 160325000000.0, our lookback sum is 160325000000.0
Working on 58056-2017-03-03
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 136083000000.0, our lookback sum is 136083000000.0
Working on 58056-2018-03-12
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 108091000000.0, our lookback sum is 108091000000.0
Working on 58056-2019-03-01
equal 0 4 0 4
replace 4 5 4 5
equal 5 11 5 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 90946000000.0, our lookback sum is 90946000000.0
Working on 58056-2019-09-30
equal 0 4 0 4
replace 4 5 4 5
equal 5 11 5 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 90946000000.0, our lookback sum is 90946000000.0
Working on 58056-2020-03-02
equal 0 10 0 10
	We dropped row 9, Total assets, with lookback window of 9.
		Our row is valued at 80071000000.0, our lookback sum is 80071000000.0
Working on 58056-2021-03-01
equal 0 10 0 10
	We dropped row 9, Total assets, with lookback window of 9.
		Our row is valued at 72130000000.0, our lookback sum is 72130000000.0
Working on 68136-2002-01-29
equal 0 16 0 16
	We dropped row 15, Total assets, with lookback window of 15.
		Our row is valued at 267625461000.0, our lookback sum is 267625461000.0
Working on 68136-2003-01-30
equal 0 13 0 13
replace 13 14 13 14
equal 14 16 14 16
	We dropped row 15, Total assets, with lookback window of 15.
		Our row is valued at 265334256000.0, our lookback sum is 265334256000.0
Working on 68136-2004-01-30
equal 0 16 0 16
	We dropped row 15, Total assets, with lookback window of 15.
		Our row is valued at 310888679000.0, our lookback sum is 310888679000.0
Working on 68136-2005-01-31
equal 0 13 0 13
replace 13 14 13 14
equal 14 16 14 16
Working on 68136-2006-01-30
equal 0 17 0 17
	We dropped row 16, Total assets, with lookback window of 16.
		Our row is valued at 501699713000.0, our lookback sum is 501699713000.0
Working on 68136-2007-01-29
equal 0 17 0 17
	We dropped row 16, Total assets, with lookback window of 16.
		Our row is valued at 583404825000.0, our lookback sum is 583404825000.0
Working on 68136-2008-01-31
equal 0 12 0 12
replace 12 13 12 13
equal 13 20 13 20
	We dropped row 19, Total assets, with lookback window of 19.
		Our row is valued at 604395450000.0, our lookback sum is 604395450000.0
Working on 68136-2009-01-29
equal 0 20 0 20
	We dropped row 19, Total assets, with lookback window of 19.
		Our row is valued at 297422286000.0, our lookback sum is 297422286000.0
Working on 68136-2010-03-02
equal 0 8 0 8
replace 8 9 8 9
equal 9 21 9 21
	We dropped row 8, Total financial instruments owned. at fair value, with lookback window of 6.
		Our row is valued at 86343225000.0, our lookback sum is 86343225000.0
	We dropped row 20, Total assets, with lookback window of 20.
		Our row is valued at 413032207000.0, our lookback sum is 413032207000.0
Working on 68136-2011-03-02
equal 0 21 0 21
	We dropped row 8, Total financial instruments owned, at fair value, with lookback window of 6.
		Our row is valued at 99110027000.0, our lookback sum is 99110027000.0
	We dropped row 20, Total assets, with lookback window of 20.
		Our row is valued at 372537340000.0, our lookback sum is 372537340000.0
Working on 68136-2012-02-29
equal 0 21 0 21
	We dropped row 8, Total financial instruments owned, at fair value, with lookback window of 6.
		Our row is valued at 94766842000.0, our lookback sum is 94766842000.0
	We dropped row 20, Total assets, with lookback window of 20.
		Our row is valued at 352293126000.0, our lookback sum is 352293126000.0
Working on 68136-2013-03-01
equal 0 21 0 21
	We dropped row 8, Total financial instruments owned, at fair value, with lookback window of 6.
		Our row is valued at 90227260000.0, our lookback sum is 90227260000.0
	We dropped row 20, Section Total assets, with lookback window of 20.
		Our row is valued at 369066424000.0, our lookback sum is 369066424000.0
Working on 68136-2014-03-04
equal 0 15 0 15
	We dropped row 14, Total assets, with lookback window of 14.
		Our row is valued at 367496000000.0, our lookback sum is 367496000000.0
Working on 68136-2015-03-02
equal 0 15 0 15
	We dropped row 14, Total assets, with lookback window of 14.
		Our row is valued at 345134000000.0, our lookback sum is 345134000000.0
Working on 68136-2016-02-29
equal 0 14 0 14
	We dropped row 13, Total assets, with lookback window of 13.
		Our row is valued at 301341000000.0, our lookback sum is 301341000000.0
Working on 68136-2017-03-01
equal 0 13 0 13
	We dropped row 12, Total assets, with lookback window of 12.
		Our row is valued at 308038000000.0, our lookback sum is 308038000000.0
Working on 68136-2018-03-01
equal 0 13 0 13
	We dropped row 12, Total assets, with lookback window of 12.
		Our row is valued at 305281000000.0, our lookback sum is 305281000000.0
Working on 68136-2019-03-01
equal 0 13 0 13
	We dropped row 12, Total assets, with lookback window of 12.
		Our row is valued at 303806000000.0, our lookback sum is 303806000000.0
Working on 68136-2021-02-26
equal 0 13 0 13
	We dropped row 12, Total assets, with lookback window of 12.
		Our row is valued at 409239000000.0, our lookback sum is 409239000000.0
Working on 72267-2003-05-30
equal 0 4 0 4
replace 4 5 4 5
equal 5 16 5 16
	We dropped row 8, Receivables:, with lookback window of 4.
		Our row is valued at 15993366000.0, our lookback sum is 15993366000.0
	We dropped row 15, Total assets, with lookback window of 15.
		Our row is valued at 57702809000.0, our lookback sum is 57702809000.0
Working on 72267-2004-05-28
equal 0 6 0 6
replace 6 7 6 7
equal 7 13 7 13
replace 13 15 13 14
equal 15 17 14 16
	We dropped row 4, Financial instruments owned (approximately $10,900,474 were, with lookback window of 2.
		Our row is valued at 44343153000.0, our lookback sum is 44343153000.0
	We dropped row 9, Receivables:, with lookback window of 4.
		Our row is valued at 17731470000.0, our lookback sum is 17731470000.0
	We dropped row 13, Furniture, equipment and leasehold improvements, net of, with lookback window of 3.
		Our row is valued at 535815000.0, our lookback sum is 535815000.0
Working on 72267-2005-05-31
equal 0 12 0 12
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 78732111000.0, our lookback sum is 78732111000.0
Working on 72267-2006-05-30
replace 0 1 0 1
equal 1 2 1 2
replace 2 3 2 3
equal 3 12 3 12
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 74182935000.0, our lookback sum is 74182935000.0
Working on 72267-2007-05-29
replace 0 1 0 1
equal 1 12 1 12
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 87542832000.0, our lookback sum is 87542832000.0
Working on 72267-2008-05-30
equal 0 12 0 12
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 16266635000.0, our lookback sum is 16266635000.0
Working on 72267-2009-06-03
equal 0 13 0 13
	We dropped row 12, Total assets, with lookback window of 12.
		Our row is valued at 14279792000.0, our lookback sum is 14279792000.0
Working on 72267-2010-06-01
equal 0 4 0 4
replace 4 6 4 5
equal 6 13 5 12
	We dropped row 4, Trading assets ($7,567,059 were pledged to, with lookback window of 2.
		Our row is valued at 36294531000.0, our lookback sum is 36294531000.0

Working on 72267-2012-03-15
equal 0 10 0 10
delete 10 12 10 10
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 104827762000.0, our lookback sum is 104827762000.0
Working on 72267-2012-05-30
equal 0 12 0 12
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 114059495000.0, our lookback sum is 114059495000.0
Working on 72267-2013-05-30
equal 0 12 0 12
Working on 72267-2014-05-30
replace 0 1 0 1
equal 1 10 1 10
replace 10 11 10 12
equal 11 12 12 13
	We dropped row 1, Cash and cash equivalents, with lookback window of 1.
		Our row is valued at 1426073000.0, our lookback sum is 1426073000.0
	We dropped row 5, Trading assets ($19,918,091 were pledged to various parties and $335,455 related to, with lookback window of 2.
		Our row is valued at 76177986000.0, our lookback sum is 76177986000.0
Working on 72267-2015-06-01
equal 0 13 0 13
	We dropped row 4, Trading assets ($16,658,256 were pledged to various parties and $437,502 related, with lookback window of 2.
		Our row is valued at 61224030000.0, our lookback sum is 61224030000.0
	We dropped row 12, Total assets, with lookback window of 12.
		Our row is valued at 108960337000.0, our lookback sum is 108960337000.0
Working on 72267-2016-05-31
equal 0 2 0 2
replace 2 3 2 3
equal 3 13 3 13
	We dropped row 4, Trading assets ($14,976,358 were pledged to various parties and $497,099 related, with lookback window of 2.
		Our row is valued at 60908405000.0, our lookback sum is 60908405000.0
	We dropped row 9, Furniture, equipment, leasehold improvements and software, net (includes, with lookback window of 3.
		Our row is valued at 2548556000.0, our lookback sum is 2548556000.0
	We dropped row 12, Total assets, with lookback window of 12.
		Our row is valued at 117925405000.0, our lookback sum is 117925405000.0
Working on 72267-2017-05-30
replace 0 1 0 1
equal 1 13 1 13
	We dropped row 4, Trading assets ($6,815,721 were pledged to various parties and $15,802 related, with lookback window of 2.
		Our row is valued at 81225612000.0, our lookback sum is 81225612000.0
	We dropped row 9, Furniture, equipment, leasehold improvements and software, net (includes, with lookback window of 3.
		Our row is valued at 2230458000.0, our lookback sum is 2230458000.0
	We dropped row 12, Total assets, with lookback window of 12.
		Our row is valued at 141510330000.0, our lookback sum is 141510330000.0
Working on 72267-2018-05-25
equal 0 2 0 2
replace 2 3 2 3
equal 3 4 3 4
delete 4 5 4 4
equal 5 8 4 7
replace 8 9 7 8
equal 9 12 8 11
	We dropped row 8, Furniture, equipment, leasehold improvements and software, net (includes, with lookback window of 3.
		Our row is valued at 3117334000.0, our lookback sum is 3117334000.0
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 141073948000.0, our lookback sum is 141073948000.0
Working on 72267-2019-05-28
equal 0 5 0 5
replace 5 6 5 6
equal 6 13 6 13
	We dropped row 9, Furniture, equipment, leasehold improvements and software, net (includes, with lookback window of 3.
		Our row is valued at 2620041000.0, our lookback sum is 2620041000.0
	We dropped row 12, Total assets, with lookback window of 12.
		Our row is valued at 127542303000.0, our lookback sum is 127542303000.0
Working on 72267-2020-06-01
equal 0 13 0 13
	We dropped row 9, Furniture, equipment, leasehold improvements and software, net (includes, with lookback window of 3.
		Our row is valued at 5258229000.0, our lookback sum is 5258229000.0
	We dropped row 12, Total assets, with lookback window of 12.
		Our row is valued at 142473148000.0, our lookback sum is 142473148000.0
Working on 782124-2002-01-29
equal 0 1 0 1
replace 1 2 1 2
equal 2 11 2 11
	We dropped row 10, TOTAL ASSETS, with lookback window of 10.
		Our row is valued at 140655621000.0, our lookback sum is 140655621000.0
Working on 782124-2003-01-30
equal 0 12 0 12
	We dropped row 11, TOTAL ASSETS, with lookback window of 11.
		Our row is valued at 150559829000.0, our lookback sum is 150559829000.0
Working on 782124-2004-01-30
equal 0 12 0 12
	We dropped row 11, TOTAL ASSETS, with lookback window of 11.
		Our row is valued at 164601243000.0, our lookback sum is 164601243000.0
Working on 782124-2004-05-07
equal 0 10 0 10
	We dropped row 8, Net property and equipment, with lookback window of 3.
		Our row is valued at 107603.0, our lookback sum is 107603.0
	We dropped row 9, TOTAL ASSETS, with lookback window of 9.
		Our row is valued at 25673078.0, our lookback sum is 25673078.0
Working on 782124-2005-01-31
equal 0 12 0 12
	We dropped row 11, TOTAL ASSETS, with lookback window of 11.
		Our row is valued at 193433468000.0, our lookback sum is 193433468000.0
Working on 782124-2006-01-30
equal 0 1 0 1
replace 1 2 1 2
equal 2 13 2 13
	We dropped row 12, TOTAL ASSETS, with lookback window of 12.
		Our row is valued at 191806579000.0, our lookback sum is 191806579000.0
Working on 782124-2007-01-29
equal 0 13 0 13
	We dropped row 12, TOTAL ASSETS, with lookback window of 12.
		Our row is valued at 236190719000.0, our lookback sum is 236190719000.0
Working on 782124-2008-01-31
equal 0 13 0 13
	We dropped row 12, TOTAL ASSETS, with lookback window of 12.
		Our row is valued at 258125104000.0, our lookback sum is 258125104000.0
Working on 782124-2009-03-02
equal 0 15 0 15
	We dropped row 14, Total assets, with lookback window of 14.
		Our row is valued at 399544757000.0, our lookback sum is 399544757000.0
Working on 782124-2010-03-01
equal 0 14 0 14
	We dropped row 13, Total assets, with lookback window of 13.
		Our row is valued at 329205000000.0, our lookback sum is 329205000000.0
Working on 782124-2011-03-02
equal 0 12 0 12
replace 12 13 12 13
	We dropped row 12, Total assets (*), with lookback window of 12.
		Our row is valued at 362019000000.0, our lookback sum is 362019000000.0
Working on 782124-2012-02-29
equal 0 13 0 13
	We dropped row 12, Total assets (a), with lookback window of 12.
		Our row is valued at 371293000000.0, our lookback sum is 371294000000.0
Working on 782124-2013-03-01
equal 0 13 0 13
delete 13 29 13 13
	We dropped row 12, Total assets (a), with lookback window of 12.
		Our row is valued at 451412000000.0, our lookback sum is 451412000000.0
	We dropped row 23, Total liabilities (a), with lookback window of 10.
		Our row is valued at 437466000000.0, our lookback sum is 437466000000.0
	We dropped row 25, Total liabilities and member's equity, with lookback window of 12.
		Our row is valued at 451412000000.0, our lookback sum is 451412000000.0
	We dropped row 28, Total Assets, with lookback window of 2.
		Our row is valued at 920000000.0, our lookback sum is 920000000.0
Working on 782124-2014-03-05
equal 0 11 0 11
replace 11 12 11 12
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 372319000000.0, our lookback sum is 372319000000.0
Working on 782124-2015-02-27
equal 0 11 0 11
replace 11 12 11 12
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 397361000000.0, our lookback sum is 397361000000.0
Working on 782124-2016-02-29
equal 0 10 0 10
replace 10 11 10 11
	We dropped row 10, Total assets(i, with lookback window of 10.
		Our row is valued at 369680000000.0, our lookback sum is 369680000000.0
Working on 782124-2017-03-01
equal 0 11 0 11
	We dropped row 10, Total assets(², with lookback window of 10.
		Our row is valued at 379355000000.0, our lookback sum is 379355000000.0
Working on 782124-2018-02-27
equal 0 9 0 9
replace 9 10 9 10
	We dropped row 9, Total assets(a, with lookback window of 9.
		Our row is valued at 351170000000.0, our lookback sum is 351170000000.0
Working on 782124-2018-02-28
equal 0 9 0 9
replace 9 10 9 10
	We dropped row 9, Total assets(a, with lookback window of 9.
		Our row is valued at 351170000000.0, our lookback sum is 351170000000.0
Working on 782124-2019-02-28
equal 0 1 0 1
replace 1 2 1 2
equal 2 10 2 10
	We dropped row 9, Total assets(a, with lookback window of 9.
		Our row is valued at 460265000000.0, our lookback sum is 460265000000.0
Working on 782124-2020-04-01
equal 0 10 0 10
	We dropped row 9, Total assets(a, with lookback window of 9.
		Our row is valued at 490945000000.0, our lookback sum is 490945000000.0

Working on 782124-2021-03-01
equal 0 10 0 10
	We dropped row 9, Total assets (a), with lookback window of 9.
		Our row is valued at 609782000000.0, our lookback sum is 609782000000.0
Working on 851376-2002-03-01
equal 0 12 0 12
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 72638615000.0, our lookback sum is 72638615000.0
Working on 851376-2003-03-03
equal 0 12 0 12
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 103369408000.0, our lookback sum is 103369408000.0
Working on 851376-2004-03-01
equal 0 12 0 12
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 113650937000.0, our lookback sum is 113650937000.0
Working on 851376-2005-03-02
equal 0 12 0 12
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 174937091000.0, our lookback sum is 174937091000.0
Working on 851376-2006-03-01
equal 0 12 0 12
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 194436796000.0, our lookback sum is 194436796000.0
Working on 851376-2007-03-14
equal 0 12 0 12
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 236022658000.0, our lookback sum is 236022658000.0
Working on 851376-2008-02-29
equal 0 13 0 13
	We dropped row 12, Total assets, with lookback window of 12.
		Our row is valued at 297821416000.0, our lookback sum is 297821416000.0
Working on 851376-2009-03-02
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 240429127000.0, our lookback sum is 240429127000.0
Working on 851376-2010-03-01
equal 0 1 0 1
replace 1 2 1 2
equal 2 12 2 12
	We dropped row 11, Total assets, with lookback window of 11.
		Our row is valued at 326876000000.0, our lookback sum is 326876000000.0
Working on 851376-2011-03-15
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 330107000000.0, our lookback sum is 330107000000.0
Working on 851376-2012-02-29
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 306476000000.0, our lookback sum is 306476000000.0
Working on 851376-2013-03-01
equal 0 5 0 5
replace 5 6 5 6
equal 6 11 6 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 309063000000.0, our lookback sum is 309063000000.0
Working on 851376-2014-03-04
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 303606000000.0, our lookback sum is 303606000000.0
Working on 851376-2015-03-02
equal 0 1 0 1
replace 1 2 1 2
equal 2 11 2 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 248026000000.0, our lookback sum is 248026000000.0
Working on 851376-2016-02-29
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 172089000000.0, our lookback sum is 172089000000.0
Working on 851376-2017-03-01
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 152511000000.0, our lookback sum is 152511000000.0
Working on 851376-2018-02-28
equal 0 10 0 10
	We dropped row 9, Total assets, with lookback window of 9.
		Our row is valued at 106460000000.0, our lookback sum is 106460000000.0
Working on 851376-2019-03-01
equal 0 10 0 10
	We dropped row 9, Total assets, with lookback window of 9.
		Our row is valued at 105666000000.0, our lookback sum is 105666000000.0
Working on 851376-2020-03-06
equal 0 10 0 10
	We dropped row 9, Total assets, with lookback window of 9.
		Our row is valued at 99167000000.0, our lookback sum is 99167000000.0
Working on 851376-2021-03-01
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 112591.0, our lookback sum is 112591.0
Working on 853784-2002-03-01
insert 0 0 0 2
equal 0 8 2 10
	We dropped row 9, Total assets, with lookback window of 9.
		Our row is valued at 35226132000.0, our lookback sum is 35226132000.0

CLIENT-ERROR: WE COULD NOT DOWNLOAD SPLIT DATA FOR 853784-2003-02-28.csv

CLIENT-ERROR: WE COULD NOT DOWNLOAD SPLIT DATA FOR 853784-2004-03-01.csv

CLIENT-ERROR: WE COULD NOT DOWNLOAD SPLIT DATA FOR 853784-2005-02-28.csv
Working on 853784-2006-03-01
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 50025689000.0, our lookback sum is 50025689000.0
Working on 853784-2007-03-01
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 81435436000.0, our lookback sum is 81435436000.0
Working on 853784-2007-03-09
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 81435436000.0, our lookback sum is 81435436000.0
Working on 853784-2008-02-29
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 68835607000.0, our lookback sum is 68835607000.0
Working on 853784-2009-03-02
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 61543858000.0, our lookback sum is 61543858000.0
Working on 853784-2010-03-01
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 60683961000.0, our lookback sum is 60683961000.0
Working on 853784-2011-03-01
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 83850980000.0, our lookback sum is 83850980000.0
Working on 853784-2012-02-29
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 55704086000.0, our lookback sum is 55704086000.0
Working on 853784-2013-03-01
equal 0 10 0 10
	We dropped row 9, Total assets, with lookback window of 9.
		Our row is valued at 77900039000.0, our lookback sum is 77900039000.0
Working on 853784-2014-03-04
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 74314954000.0, our lookback sum is 74314954000.0
Working on 853784-2015-03-09
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 10.
		Our row is valued at 81418513000.0, our lookback sum is 81418513000.0
Working on 853784-2016-03-01
equal 0 10 0 10
	We dropped row 9, Total assets, with lookback window of 9.
		Our row is valued at 71580510000.0, our lookback sum is 71580510000.0
Working on 853784-2017-03-01
equal 0 10 0 10
	We dropped row 9, Total assets, with lookback window of 9.
		Our row is valued at 71759167000.0, our lookback sum is 71759167000.0
Working on 853784-2018-03-05
equal 0 10 0 10
	We dropped row 9, Total assets, with lookback window of 9.
		Our row is valued at 91308598000.0, our lookback sum is 91308598000.0
Working on 853784-2019-03-01
equal 0 11 0 11
	We dropped row 10, Total assets, with lookback window of 9.
		Our row is valued at 105062000000.0, our lookback sum is 105062000000.0
Working on 853784-2020-03-02
equal 0 10 0 10
	We dropped row 9, Total assets, with lookback window of 8.
		Our row is valued at 77321000000.0, our lookback sum is 77321000000.0
Working on 853784-2021-03-01
equal 0 9 0 9
	We dropped row 8, Total assets, with lookback window of 8.
		Our row is valued at 47166000000.0, our lookback sum is 47166000000.0
Working on 91154-2002-03-01
equal 0 19 0 19
	We dropped row 18, Total assets, with lookback window of 18.
		Our row is valued at 225279000000.0, our lookback sum is 225279000000.0
Working on 91154-2003-03-03
equal 0 22 0 22
	We dropped row 13, Receivables:, with lookback window of 9.
		Our row is valued at 63048000000.0, our lookback sum is 63048000000.0
	We dropped row 21, Total assets, with lookback window of 21.
		Our row is valued at 197117000000.0, our lookback sum is 197117000000.0
Working on 91154-2004-02-27
equal 0 1 0 1
replace 1 2 1 2
equal 2 22 2 22
	We dropped row 13, Receivables:, with lookback window of 9.
		Our row is valued at 93634000000.0, our lookback sum is 93634000000.0
	We dropped row 21, Total assets, with lookback window of 21.
		Our row is valued at 231204000000.0, our lookback sum is 231204000000.0
Working on 91154-2005-03-01
equal 0 22 0 22
	We dropped row 13, Receivables:, with lookback window of 9.
		Our row is valued at 92322000000.0, our lookback sum is 92322000000.0
	We dropped row 21, Total assets, with lookback window of 21.
		Our row is valued at 278859000000.0, our lookback sum is 278859000000.0

Working on 91154-2007-03-01
equal 0 21 0 21
	We dropped row 20, Total assets, with lookback window of 20.
		Our row is valued at 377951000000.0, our lookback sum is 377951000000.0
Working on 91154-2008-02-29
equal 0 23 0 23
	We dropped row 4, Financial instruments owned and contractual commitments, at fair value:, with lookback window of 2.
		Our row is valued at 200500000000.0, our lookback sum is 200500000000.0
	We dropped row 14, Receivables:, with lookback window of 9.
		Our row is valued at 109682000000.0, our lookback sum is 109682000000.0
	We dropped row 22, Total assets, with lookback window of 22.
		Our row is valued at 363162000000.0, our lookback sum is 363162000000.0
Working on 91154-2009-03-02
equal 0 22 0 22
	We dropped row 4, Financial instruments owned and contractual commitments, at fair value:, with lookback window of 2.
		Our row is valued at 163491000000.0, our lookback sum is 163491000000.0
	We dropped row 21, Total assets, with lookback window of 21.
		Our row is valued at 286825000000.0, our lookback sum is 286825000000.0
Working on 91154-2010-03-02
equal 0 4 0 4
replace 4 5 4 5
equal 5 22 5 22
	We dropped row 4, Trading account assets (approximately $17 billion were pledged to various parties at December 31, 2009):, with lookback window of 2.
		Our row is valued at 183429000000.0, our lookback sum is 183429000000.0
	We dropped row 21, Total assets, with lookback window of 21.
		Our row is valued at 314356000000.0, our lookback sum is 314356000000.0
Working on 91154-2011-03-01
equal 0 4 0 4
replace 4 5 4 5
equal 5 24 5 24
	We dropped row 4, Trading account assets (approximately $20 billion were pledged to various parties at December 31, 2010):, with lookback window of 2.
		Our row is valued at 156385000000.0, our lookback sum is 156385000000.0
	We dropped row 18, Property, equipment and leasehold improvements, net of, with lookback window of 3.
		Our row is valued at 22540000000.0, our lookback sum is 22540000000.0
	We dropped row 23, Total assets, with lookback window of 23.
		Our row is valued at 288409000000.0, our lookback sum is 288409000000.0
Working on 91154-2012-02-29
equal 0 24 0 24
	We dropped row 4, Trading account assets (approximately $18 billion were pledged to, with lookback window of 2.
		Our row is valued at 157348000000.0, our lookback sum is 157348000000.0
	We dropped row 14, Receivables:, with lookback window of 9.
		Our row is valued at 71397000000.0, our lookback sum is 71397000000.0
	We dropped row 18, Property, equipment and leasehold improvements, net of, with lookback window of 3.
		Our row is valued at 23953000000.0, our lookback sum is 23953000000.0
	We dropped row 23, Total assets, with lookback window of 23.
		Our row is valued at 269150000000.0, our lookback sum is 269150000000.0
Working on 91154-2013-03-01
equal 0 4 0 4
replace 4 5 4 5
equal 5 23 5 23
	We dropped row 4, Trading account assets (approximately $14 billion were pledged to various parties at December 31, 2012):, with lookback window of 2.
		Our row is valued at 153747000000.0, our lookback sum is 153747000000.0
	We dropped row 14, Receivables:, with lookback window of 9.
		Our row is valued at 70257000000.0, our lookback sum is 70257000000.0
	We dropped row 18, Property, equipment and leasehold improvements, net of, with lookback window of 3.
		Our row is valued at 11683000000.0, our lookback sum is 11683000000.0
	We dropped row 22, Total assets, with lookback window of 22.
		Our row is valued at 251522000000.0, our lookback sum is 251522000000.0
Working on 91154-2014-03-04
equal 0 20 0 20
	We dropped row 19, Total assets, with lookback window of 19.
		Our row is valued at 253600000000.0, our lookback sum is 253600000000.0
Working on 91154-2016-03-01
equal 0 19 0 19
	We dropped row 18, Total assets, with lookback window of 18.
		Our row is valued at 253416000000.0, our lookback sum is 253416000000.0
Working on 91154-2017-03-02
equal 0 20 0 20
	We dropped row 19, Total assets, with lookback window of 19.
		Our row is valued at 261644000000.0, our lookback sum is 261644000000.0
Working on 91154-2018-03-05
equal 0 19 0 19
	We dropped row 18, Total assets, with lookback window of 18.
		Our row is valued at 272544000000.0, our lookback sum is 272544000000.0
Working on 91154-2019-03-05
equal 0 18 0 18
	We dropped row 11, Securities received as collateral, at fair value (all pledged to counterparties), with lookback window of 5.
		Our row is valued at 15877000000.0, our lookback sum is 15870000000.0
Working on 91154-2020-03-02
equal 0 18 0 18
	We dropped row 17, Total assets, with lookback window of 17.
		Our row is valued at 289445000000.0, our lookback sum is 289445000000.0






Liability & Equity Unstructured Database
Working on 1224385-2004-03-01
equal 0 12 0 12
	We dropped row 6, Total liabilities, with lookback window of 6.
		Our row is valued at 19715370000.0, our lookback sum is 19715370000.0
	We dropped row 10, Total member's equity, with lookback window of 2.
		Our row is valued at 1255917000.0, our lookback sum is 1255917000.0
	We dropped row 11, Total liabilities and member's equity, with lookback window of 11.
		Our row is valued at 21509787000.0, our lookback sum is 21509787000.0
Working on 1224385-2005-03-01
equal 0 10 0 10
	We dropped row 6, Total liabilities, with lookback window of 6.
		Our row is valued at 32320448000.0, our lookback sum is 32320448000.0
	We dropped row 9, Total liabilities and member's equity, with lookback window of 9.
		Our row is valued at 35611655000.0, our lookback sum is 35611655000.0
Working on 1224385-2006-03-01
equal 0 10 0 10
	We dropped row 6, Total liabilities, with lookback window of 6.
		Our row is valued at 20118057000.0, our lookback sum is 20118057000.0
	We dropped row 9, Total liabilities and member's equity, with lookback window of 9.
		Our row is valued at 24029490000.0, our lookback sum is 24029490000.0
Working on 1224385-2007-03-01
equal 0 13 0 13
	We dropped row 7, Total liabilities, with lookback window of 7.
		Our row is valued at 16498871000.0, our lookback sum is 16498871000.0
	We dropped row 11, Total member's equity, with lookback window of 2.
		Our row is valued at 3197552000.0, our lookback sum is 3197552000.0
	We dropped row 12, Total liabilities and member's equity, with lookback window of 12.
		Our row is valued at 20879923000.0, our lookback sum is 20879923000.0
Working on 1224385-2008-02-29
equal 0 12 0 12
	We dropped row 6, Total liabilities, with lookback window of 6.
		Our row is valued at 17307282000.0, our lookback sum is 17307282000.0
	We dropped row 10, Total member's equity, with lookback window of 2.
		Our row is valued at 3020035000.0, our lookback sum is 3020035000.0
	We dropped row 11, Total liabilities and member's equity, with lookback window of 11.
		Our row is valued at 21660817000.0, our lookback sum is 21660817000.0
Working on 1224385-2009-03-02
equal 0 10 0 10
	We dropped row 6, Total liabilities, with lookback window of 6.
		Our row is valued at 6311744000.0, our lookback sum is 6311744000.0
	We dropped row 9, Total liabilities and member's equity, with lookback window of 9.
		Our row is valued at 9580535000.0, our lookback sum is 9580535000.0
Working on 1224385-2010-03-12
equal 0 11 0 11
	We dropped row 5, Total liabilities, with lookback window of 5.
		Our row is valued at 13753891000.0, our lookback sum is 13753891000.0
	We dropped row 9, Total member's equity, with lookback window of 2.
		Our row is valued at 2262267000.0, our lookback sum is 2262267000.0
	We dropped row 10, Total liabilities and member's equity, with lookback window of 10.
		Our row is valued at 17499658000.0, our lookback sum is 17499658000.0
Working on 1224385-2011-03-01
equal 0 11 0 11
	We dropped row 5, Total liabilities, with lookback window of 5.
		Our row is valued at 33345623000.0, our lookback sum is 33345623000.0
	We dropped row 9, Total member's equity, with lookback window of 2.
		Our row is valued at 2780810000.0, our lookback sum is 2780810000.0
	We dropped row 10, Total liabilities and member's equity, with lookback window of 10.
		Our row is valued at 37609933000.0, our lookback sum is 37609933000.0
Working on 1224385-2012-02-29
equal 0 11 0 11
	We dropped row 5, Total liabilities, with lookback window of 5.
		Our row is valued at 34379197000.0, our lookback sum is 34379197000.0
	We dropped row 9, Total member's equity, with lookback window of 2.
		Our row is valued at 2831370000.0, our lookback sum is 2831370000.0
	We dropped row 10, Total liabilities and member's equity, with lookback window of 10.
		Our row is valued at 39534067000.0, our lookback sum is 39534067000.0
Working on 1224385-2013-03-01
equal 0 11 0 11
	We dropped row 5, Total liabilities, with lookback window of 5.
		Our row is valued at 37889341000.0, our lookback sum is 37889341000.0
	We dropped row 9, Total member's equity, with lookback window of 2.
		Our row is valued at 3311243000.0, our lookback sum is 3311243000.0
	We dropped row 10, Total liabilities and member's equity, with lookback window of 10.
		Our row is valued at 43524084000.0, our lookback sum is 43524084000.0

Working on 1224385-2014-03-04
equal 0 11 0 11
	We dropped row 5, Total liabilities, with lookback window of 5.
		Our row is valued at 41933521000.0, our lookback sum is 41933521000.0
	We dropped row 9, Total member's equity, with lookback window of 2.
		Our row is valued at 3887874000.0, our lookback sum is 3887874000.0
	We dropped row 10, Total liabilities and member's equity, with lookback window of 10.
		Our row is valued at 48144895000.0, our lookback sum is 48144895000.0
Working on 1224385-2015-03-02
equal 0 11 0 11
	We dropped row 5, Total liabilities, with lookback window of 5.
		Our row is valued at 58237482000.0, our lookback sum is 58237482000.0
	We dropped row 9, Total member's equity, with lookback window of 2.
		Our row is valued at 4274759000.0, our lookback sum is 4274759000.0
	We dropped row 10, Total liabilities and member's equity, with lookback window of 10.
		Our row is valued at 64835741000.0, our lookback sum is 64835741000.0
Working on 1224385-2016-02-29
equal 0 12 0 12
	We dropped row 6, Total liabilities, with lookback window of 6.
		Our row is valued at 83676648000.0, our lookback sum is 83676648000.0
	We dropped row 10, Total member's equity, with lookback window of 2.
		Our row is valued at 4531707000.0, our lookback sum is 4531707000.0
	We dropped row 11, Total liabilities and member's equity, with lookback window of 11.
		Our row is valued at 90531855000.0, our lookback sum is 90531855000.0
Working on 1224385-2017-03-01
equal 0 12 0 12
	We dropped row 6, Total liabilities, with lookback window of 6.
		Our row is valued at 100620516000.0, our lookback sum is 100620516000.0
	We dropped row 10, Total member's equity, with lookback window of 2.
		Our row is valued at 5019971000.0, our lookback sum is 5019971000.0
	We dropped row 11, Total liabilities and member's equity, with lookback window of 11.
		Our row is valued at 112940487000.0, our lookback sum is 112940487000.0
Working on 1224385-2018-02-28
equal 0 5 0 5
replace 5 6 5 6
equal 6 14 6 14
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 119004538000.0, our lookback sum is 119004538000.0
	We dropped row 12, Total member's equity, with lookback window of 2.
		Our row is valued at 5097662000.0, our lookback sum is 5097662000.0
	We dropped row 13, Total liabilities and member's equity, with lookback window of 13.
		Our row is valued at 131402200000.0, our lookback sum is 131402200000.0
Working on 1224385-2019-02-28
equal 0 3 0 3
replace 3 4 3 4
equal 4 5 4 5
replace 5 6 5 6
equal 6 15 6 15
	We dropped row 9, Total liabilities, with lookback window of 9.
		Our row is valued at 121679208000.0, our lookback sum is 121679208000.0
	We dropped row 13, Total member's equity, with lookback window of 2.
		Our row is valued at 5344761000.0, our lookback sum is 5344761000.0
	We dropped row 14, Total liabilities and member's equity, with lookback window of 14.
		Our row is valued at 134323969000.0, our lookback sum is 134323969000.0
Working on 1224385-2020-02-28
equal 0 15 0 15
	We dropped row 9, Total liabilities, with lookback window of 9.
		Our row is valued at 128932963000.0, our lookback sum is 128932963000.0
	We dropped row 13, Total member's equity, with lookback window of 2.
		Our row is valued at 5601579000.0, our lookback sum is 5601579000.0
	We dropped row 14, Total liabilities and member's equity, with lookback window of 14.
		Our row is valued at 141834542000.0, our lookback sum is 141834542000.0
Working on 1224385-2021-02-26
equal 0 15 0 15
	We dropped row 9, Total liabilities, with lookback window of 9.
		Our row is valued at 118977964000.0, our lookback sum is 118977964000.0
	We dropped row 13, Total member's equity, with lookback window of 2.
		Our row is valued at 9130317000.0, our lookback sum is 9130317000.0
	We dropped row 14, Total liabilities and member's equity, with lookback window of 14.
		Our row is valued at 132758281000.0, our lookback sum is 132758281000.0
Working on 42352-2002-01-30
equal 0 11 0 11
Working on 42352-2003-01-28
equal 0 11 0 11
Working on 42352-2004-01-27
equal 0 11 0 11
Working on 42352-2005-01-25
equal 0 13 0 13
	We dropped row 11, Total partners' capital, with lookback window of 2.
		Our row is valued at 4210751000.0, our lookback sum is 4210751000.0
	We dropped row 12, Total liabilities and partners' capital, with lookback window of 12.
		Our row is valued at 348590977000.0, our lookback sum is 348590977000.0
Working on 42352-2006-01-24
equal 0 13 0 13
	We dropped row 11, Total partners' capital, with lookback window of 2.
		Our row is valued at 4535899000.0, our lookback sum is 4535899000.0
	We dropped row 12, Total liabilities and partners' capital, with lookback window of 12.
		Our row is valued at 475872139000.0, our lookback sum is 475872139000.0
Working on 42352-2007-01-23
equal 0 14 0 14
	We dropped row 12, Total partners' capital, with lookback window of 2.
		Our row is valued at 4685687000.0, our lookback sum is 4685687000.0
	We dropped row 13, Total liabilities and partners' capital, with lookback window of 13.
		Our row is valued at 509250736000.0, our lookback sum is 509250736000.0
Working on 42352-2008-01-29
equal 0 14 0 14
	We dropped row 12, Total partners' capital, with lookback window of 2.
		Our row is valued at 6247937000.0, our lookback sum is 6247937000.0
	We dropped row 13, Total liabilities and partners' capital, with lookback window of 13.
		Our row is valued at 632858770000.0, our lookback sum is 632858770000.0
Working on 42352-2010-03-01
equal 0 15 0 15
	We dropped row 9, Total liabilities, with lookback window of 9.
		Our row is valued at 438306000000.0, our lookback sum is 438306000000.0
	We dropped row 13, Total partners' capital, with lookback window of 2.
		Our row is valued at 7199000000.0, our lookback sum is 7199000000.0
	We dropped row 14, Total liabilities and partners' capital, with lookback window of 14.
		Our row is valued at 463755000000.0, our lookback sum is 463755000000.0
Working on 42352-2011-03-01
equal 0 6 0 6
replace 6 7 6 7
equal 7 15 7 15
	We dropped row 9, Total liabilities, with lookback window of 9.
		Our row is valued at 496216000000.0, our lookback sum is 496219000000.0
	We dropped row 13, Total partners' capital, with lookback window of 2.
		Our row is valued at 9286000000.0, our lookback sum is 9286000000.0
Working on 42352-2012-02-29
replace 0 1 0 1
equal 1 14 1 14
	We dropped row 12, Total partners' capital, with lookback window of 2.
		Our row is valued at 6598000000.0, our lookback sum is 6598000000.0
	We dropped row 13, Total liabilities and partners' capital, with lookback window of 13.
		Our row is valued at 504694000000.0, our lookback sum is 504694000000.0
Working on 42352-2013-03-01
equal 0 9 0 9
replace 9 10 9 10
equal 10 14 10 14
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 471520000000.0, our lookback sum is 471520000000.0
	We dropped row 12, Total partners' capital, with lookback window of 2.
		Our row is valued at 8075000000.0, our lookback sum is 8075000000.0
	We dropped row 13, Total liabilities and partners' capital, with lookback window of 13.
		Our row is valued at 501095000000.0, our lookback sum is 501095000000.0
Working on 42352-2014-07-31
equal 0 7 0 7
replace 7 8 7 8
equal 8 15 8 15
	We dropped row 9, Total liabilities, with lookback window of 9.
		Our row is valued at 493128000000.0, our lookback sum is 493128000000.0
	We dropped row 13, Total partners' capital, with lookback window of 2.
		Our row is valued at 9898000000.0, our lookback sum is 9898000000.0
	We dropped row 14, Total liabilities and partners' capital, with lookback window of 14.
		Our row is valued at 524526000000.0, our lookback sum is 524526000000.0
Working on 42352-2015-03-10
equal 0 1 0 1
replace 1 2 1 2
equal 2 4 2 4
replace 4 6 4 6
equal 6 15 6 15
	We dropped row 5, Customers and counterparies, with lookback window of 1.
		Our row is valued at 149046000000.0, our lookback sum is 149046000000.0
	We dropped row 14, Total partners' capital, with lookback window of 2.
		Our row is valued at 11377000000.0, our lookback sum is 11377000000.0
	We dropped row 15, Total liabilities and partners' capital, with lookback window of 4.
		Our row is valued at 477078000000.0, our lookback sum is 477076000000.0
Working on 42352-2016-02-23

replace 0 1 0 1
equal 1 2 1 2
delete 2 4 2 2
equal 4 5 2 3
delete 5 6 3 3
equal 6 8 3 5
delete 8 15 5 5
	We dropped row 10, Total liabilities, with lookback window of 10.
		Our row is valued at 444847000000.0, our lookback sum is 444848000000.0
	We dropped row 13, Total partners' capital, with lookback window of 2.
		Our row is valued at 9904000000.0, our lookback sum is 9904000000.0
	We dropped row 14, Total liabilities and partners' capital, with lookback window of 14.
		Our row is valued at 454751000000.0, our lookback sum is 454752000000.0
Working on 42352-2017-03-01
replace 0 2 0 2
equal 2 3 2 3
replace 3 5 3 5
equal 5 6 5 6
replace 6 8 6 8
equal 8 15 8 15
	We dropped row 1, Securities sold under agreements to repurchase at fair value, with lookback window of 1.
		Our row is valued at 91297000000.0, our lookback sum is 91297000000.0
	We dropped row 5, Brokers, deaters and clearing organizations, with lookback window of 1.
		Our row is valued at 4244000000.0, our lookback sum is 4244000000.0
	We dropped row 9, Unsecured shorl-lerm bonrowings (includes $20 at fair value), with lookback window of 1.
		Our row is valued at 7244000000.0, our lookback sum is 7244000000.0
	We dropped row 16, Total partners' capital, with lookback window of 2.
		Our row is valued at 11609000000.0, our lookback sum is 11609000000.0
	We dropped row 17, Total liabilities and partners' capital, with lookback window of 4.
		Our row is valued at 424649000000.0, our lookback sum is 424649000000.0
Working on 42352-2018-02-27
equal 0 1 0 1
insert 1 1 1 2
equal 1 3 2 4
insert 3 3 4 5
equal 3 4 5 6
insert 4 4 6 7
equal 4 5 7 8
insert 5 5 8 9
equal 5 6 9 10
insert 6 6 10 14
	We dropped row 9, Total liabilities, with lookback window of 9.
		Our row is valued at 442913000000.0, our lookback sum is 442913000000.0
	We dropped row 12, Total member's equity, with lookback window of 2.
		Our row is valued at 11014000000.0, our lookback sum is 11014000000.0
	We dropped row 13, Total liabilities and member's equity, with lookback window of 13.
		Our row is valued at 453927000000.0, our lookback sum is 453927000000.0
Working on 42352-2019-03-01
equal 0 11 0 11
delete 11 13 11 11
	We dropped row 10, Total liabilities, with lookback window of 10.
		Our row is valued at 406148000000.0, our lookback sum is 406148000000.0
	We dropped row 12, Total liabilities and member's equity, with lookback window of 12.
		Our row is valued at 416665000000.0, our lookback sum is 416665000000.0
Working on 42352-2021-02-25
equal 0 11 0 11
	We dropped row 10, Total liabilities, with lookback window of 10.
		Our row is valued at 495653000000.0, our lookback sum is 495653000000.0
Working on 58056-2002-03-01
equal 0 12 0 12
Working on 58056-2003-03-03
equal 0 12 0 12
Working on 58056-2004-02-27
equal 0 12 0 12
Working on 58056-2004-03-26
equal 0 12 0 12
Working on 58056-2005-02-25
equal 0 14 0 14
	We dropped row 11, Total liabilities, with lookback window of 11.
		Our row is valued at 248468415000.0, our lookback sum is 248468415000.0
	We dropped row 13, Total liabilities and stockholder's equity, with lookback window of 13.
		Our row is valued at 253278304000.0, our lookback sum is 253278304000.0
Working on 58056-2006-03-24
equal 0 12 0 12
replace 12 13 12 13
equal 13 17 13 17
	We dropped row 10, Total liabilities, with lookback window of 10.
		Our row is valued at 255495717000.0, our lookback sum is 255495717000.0
	We dropped row 13, Common stock par per Authorized, outstanding 2,000 shares, with lookback window of 1.
		Our row is valued at 2000.0, our lookback sum is 2000.0
	We dropped row 16, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 4675607000.0, our lookback sum is 4675605000.0
	We dropped row 17, Total liabilities and stockholder's equity, with lookback window of 17.
		Our row is valued at 264444724000.0, our lookback sum is 264444724000.0
Working on 58056-2007-03-01
equal 0 11 0 11
	We dropped row 7, Total liabilities, with lookback window of 7.
		Our row is valued at 306258803000.0, our lookback sum is 306258803000.0
	We dropped row 10, Total liabilities and stockholder's equity, with lookback window of 10.
		Our row is valued at 317870722000.0, our lookback sum is 317870722000.0
Working on 58056-2008-02-29
equal 0 11 0 11
	We dropped row 7, Total liabilities, with lookback window of 7.
		Our row is valued at 501757063000.0, our lookback sum is 501757063000.0
	We dropped row 10, Total liabilities and stockholder's equity, with lookback window of 10.
		Our row is valued at 519780630000.0, our lookback sum is 519780630000.0
Working on 58056-2009-03-16
replace 0 1 0 1
equal 1 11 1 11
	We dropped row 7, Total liabilities, with lookback window of 7.
		Our row is valued at 229275201000.0, our lookback sum is 229275201000.0
	We dropped row 10, Total liabilities and stockholder's equity, with lookback window of 10.
		Our row is valued at 244413278000.0, our lookback sum is 244413278000.0
Working on 58056-2010-06-04
equal 0 11 0 11
	We dropped row 7, Total liabilities, with lookback window of 7.
		Our row is valued at 232082804000.0, our lookback sum is 232082804000.0
	We dropped row 10, Total liabilities and stockholder's equity, with lookback window of 10.
		Our row is valued at 249693066000.0, our lookback sum is 249693066000.0
Working on 58056-2012-02-29
equal 0 12 0 12
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 225973793000.0, our lookback sum is 225973793000.0
	We dropped row 11, Total liabilities and stockholder's equity, with lookback window of 11.
		Our row is valued at 244079398000.0, our lookback sum is 244079398000.0
Working on 58056-2013-03-01
equal 0 12 0 12
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 221339000000.0, our lookback sum is 221339000000.0
	We dropped row 11, Total liabilities and stockholder's equity, with lookback window of 11.
		Our row is valued at 240046000000.0, our lookback sum is 240046000000.0
Working on 58056-2014-03-04
equal 0 6 0 6
replace 6 7 6 7
equal 7 13 7 13
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 208844000000.0, our lookback sum is 208844000000.0
	We dropped row 12, Total liabilities and stockholder's equity, with lookback window of 12.
		Our row is valued at 227451000000.0, our lookback sum is 227451000000.0
Working on 58056-2015-03-02
equal 0 16 0 16
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 155023000000.0, our lookback sum is 155023000000.0
	We dropped row 14, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 11892000000.0, our lookback sum is 11892000000.0
	We dropped row 15, Total liabilities and stockholder's equity, with lookback window of 15.
		Our row is valued at 173638000000.0, our lookback sum is 173638000000.0
Working on 58056-2016-02-29
equal 0 6 0 6
replace 6 7 6 7
equal 7 16 7 16
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 142370000000.0, our lookback sum is 142370000000.0
	We dropped row 14, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 11232000000.0, our lookback sum is 11232000000.0
	We dropped row 15, Total liabilities and stockholder's equity, with lookback window of 15.
		Our row is valued at 160325000000.0, our lookback sum is 160325000000.0
Working on 58056-2017-03-03
equal 0 16 0 16
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 118799000000.0, our lookback sum is 118799000000.0
	We dropped row 14, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 10561000000.0, our lookback sum is 10561000000.0
	We dropped row 15, Total liabilities and stockholder's equity, with lookback window of 15.
		Our row is valued at 136083000000.0, our lookback sum is 136083000000.0
Working on 58056-2018-03-12
equal 0 15 0 15
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 90884000000.0, our lookback sum is 90884000000.0
	We dropped row 13, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 10484000000.0, our lookback sum is 10484000000.0
	We dropped row 14, Total liabilities and stockholder's equity, with lookback window of 14.
		Our row is valued at 108091000000.0, our lookback sum is 108091000000.0

Working on 58056-2019-03-01
replace 0 1 0 1
equal 1 15 1 15
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 73384000000.0, our lookback sum is 73384000000.0
	We dropped row 13, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 10839000000.0, our lookback sum is 10839000000.0
	We dropped row 14, Total liabilities and stockholder's equity, with lookback window of 14.
		Our row is valued at 90946000000.0, our lookback sum is 90946000000.0
Working on 58056-2019-09-30
replace 0 1 0 1
equal 1 15 1 15
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 73384000000.0, our lookback sum is 73384000000.0
	We dropped row 13, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 10839000000.0, our lookback sum is 10839000000.0
	We dropped row 14, Total liabilities and stockholder's equity, with lookback window of 14.
		Our row is valued at 90946000000.0, our lookback sum is 90946000000.0
Working on 58056-2020-03-02
equal 0 9 0 9
replace 9 10 9 10
equal 10 14 10 14
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 68805000000.0, our lookback sum is 68805000000.0
	We dropped row 12, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 11266000000.0, our lookback sum is 11266000000.0
	We dropped row 13, Total liabilities and stockholder's equity, with lookback window of 13.
		Our row is valued at 80071000000.0, our lookback sum is 80071000000.0
Working on 58056-2021-03-01
equal 0 10 0 10
replace 10 11 10 11
equal 11 13 11 13
replace 13 14 13 14
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 60277000000.0, our lookback sum is 60277000000.0
	We dropped row 12, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 11853000000.0, our lookback sum is 11853000000.0
	We dropped row 13, Total liabilities and stockholder's equity, with lookback window of 13.
		Our row is valued at 72130000000.0, our lookback sum is 72130000000.0
Working on 68136-2002-01-29
equal 0 19 0 19
	We dropped row 17, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 4261550000.0, our lookback sum is 4261550000.0
	We dropped row 18, Total liabilities and stockholder's equity, with lookback window of 18.
		Our row is valued at 267625461000.0, our lookback sum is 267625461000.0
Working on 68136-2003-01-30
equal 0 19 0 19
	We dropped row 17, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 4664554000.0, our lookback sum is 4664554000.0
	We dropped row 18, Total liabilities and stockholder's equity, with lookback window of 18.
		Our row is valued at 265334256000.0, our lookback sum is 265334256000.0
Working on 68136-2004-01-30
equal 0 19 0 19
	We dropped row 17, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 4869317000.0, our lookback sum is 4869317000.0
	We dropped row 18, Total liabilities and stockholder's equity, with lookback window of 18.
		Our row is valued at 310888679000.0, our lookback sum is 310888679000.0
Working on 68136-2005-01-31
equal 0 19 0 19
	We dropped row 17, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 5231188000.0, our lookback sum is 5231188000.0
	We dropped row 18, Total liabilities and stockholder's equity, with lookback window of 18.
		Our row is valued at 412415148000.0, our lookback sum is 412415148000.0
Working on 68136-2006-01-30
equal 0 20 0 20
	We dropped row 18, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 5232895000.0, our lookback sum is 5232895000.0
	We dropped row 19, Total liabilities and stockholder's equity, with lookback window of 19.
		Our row is valued at 501699713000.0, our lookback sum is 501699713000.0
Working on 68136-2007-01-29
equal 0 20 0 20
	We dropped row 18, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 5519488000.0, our lookback sum is 5519488000.0
	We dropped row 19, Total liabilities and stockholder's equity, with lookback window of 19.
		Our row is valued at 583404825000.0, our lookback sum is 583404825000.0
Working on 68136-2008-01-31
equal 0 19 0 19
Working on 68136-2009-01-29
equal 0 24 0 24
	We dropped row 15, Total Liabilities, with lookback window of 15.
		Our row is valued at 277037343000.0, our lookback sum is 277037343000.0
	We dropped row 22, Total stockholder's equity, with lookback window of 4.
		Our row is valued at 5759943000.0, our lookback sum is 5739943000.0
	We dropped row 23, Total liabilities and stockholder's equity, with lookback window of 23.
		Our row is valued at 297422286000.0, our lookback sum is 297422286000.0
Working on 68136-2010-03-02
equal 0 7 0 7
replace 7 8 7 8
equal 8 18 8 18
replace 18 19 18 19
equal 19 21 19 21
replace 21 22 21 22
equal 22 24 22 24
	We dropped row 7, Total financial instruments sold, not yet purchased. at fair value, with lookback window of 5.
		Our row is valued at 29500843000.0, our lookback sum is 29500843000.0
	We dropped row 16, Total liabilities, with lookback window of 16.
		Our row is valued at 395237551000.0, our lookback sum is 395237551000.0
	We dropped row 22, Total stockholder's equity, with lookback window of 4.
		Our row is valued at 8269656000.0, our lookback sum is 8269656000.0
	We dropped row 23, Total liabilities and stockholder's equity, with lookback window of 23.
		Our row is valued at 413032207000.0, our lookback sum is 413032207000.0
Working on 68136-2011-03-02
equal 0 26 0 26
	We dropped row 7, Total financial instruments sold, not yet purchased, at fair value, with lookback window of 5.
		Our row is valued at 37759983000.0, our lookback sum is 37759983000.0
	We dropped row 16, Total liabilities, with lookback window of 16.
		Our row is valued at 352810071000.0, our lookback sum is 352810071000.0
	We dropped row 22, Total Morgan Stanley & Co. Incorporated stockholder's equity, with lookback window of 4.
		Our row is valued at 9694769000.0, our lookback sum is 9694769000.0
	We dropped row 24, Total stockholder's equity, with lookback window of 6.
		Our row is valued at 9702269000.0, our lookback sum is 9702269000.0
	We dropped row 25, Total liabilities and stockholder's equity, with lookback window of 25.
		Our row is valued at 372537340000.0, our lookback sum is 372537340000.0
Working on 68136-2012-02-29
equal 0 24 0 24
	We dropped row 7, Total financial instruments sold, not yet purchased, at fair value, with lookback window of 5.
		Our row is valued at 32850811000.0, our lookback sum is 32850811000.0
	We dropped row 16, Total liabilities, with lookback window of 16.
		Our row is valued at 332970945000.0, our lookback sum is 332970945000.0
	We dropped row 20, Total Morgan Stanley & Co. LLC member's equity, with lookback window of 2.
		Our row is valued at 9293431000.0, our lookback sum is 9293431000.0
	We dropped row 22, Total member's equity, with lookback window of 4.
		Our row is valued at 9297181000.0, our lookback sum is 9297181000.0
	We dropped row 23, Total liabilities and member's equity, with lookback window of 23.
		Our row is valued at 352293126000.0, our lookback sum is 352293126000.0
Working on 68136-2013-03-01
equal 0 24 0 24
	We dropped row 7, Total financial instruments sold, not yet purchased, at fair value, with lookback window of 5.
		Our row is valued at 34047352000.0, our lookback sum is 34047352000.0
	We dropped row 16, Total liabilities, with lookback window of 16.
		Our row is valued at 346942685000.0, our lookback sum is 346942685000.0
	We dropped row 20, Total Morgan Stanley & Co. LLC member's equity, with lookback window of 2.
		Our row is valued at 12097489000.0, our lookback sum is 12097489000.0
	We dropped row 22, Total member's equity, with lookback window of 4.
		Our row is valued at 12098739000.0, our lookback sum is 12098739000.0
	We dropped row 23, Total liabilities and member's equity, with lookback window of 23.
		Our row is valued at 369066424000.0, our lookback sum is 369066424000.0
Working on 68136-2014-03-04
equal 0 19 0 19
	We dropped row 11, Total liabilities, with lookback window of 11.
		Our row is valued at 351045000000.0, our lookback sum is 351045000000.0
	We dropped row 15, Total Morgan Stanley & Co. LLC member's equity, with lookback window of 2.
		Our row is valued at 6451000000.0, our lookback sum is 6451000000.0
	We dropped row 17, Total member's equity, with lookback window of 4.
		Our row is valued at 6451000000.0, our lookback sum is 6451000000.0
	We dropped row 18, Total liabilities and member's equity, with lookback window of 18.
		Our row is valued at 367496000000.0, our lookback sum is 367496000000.0
Working on 68136-2015-03-02
equal 0 6 0 6
replace 6 7 6 7
equal 7 17 7 17

	We dropped row 11, Total liabilities, with lookback window of 11.
		Our row is valued at 331231000000.0, our lookback sum is 331231000000.0
	We dropped row 15, Total member's equity, with lookback window of 2.
		Our row is valued at 3903000000.0, our lookback sum is 3903000000.0
	We dropped row 16, Total liabilities and member's equity, with lookback window of 16.
		Our row is valued at 345134000000.0, our lookback sum is 345134000000.0
Working on 68136-2016-02-29
equal 0 18 0 18
	We dropped row 12, Total liabilities, with lookback window of 12.
		Our row is valued at 284402000000.0, our lookback sum is 284402000000.0
	We dropped row 16, Total member's equity, with lookback window of 2.
		Our row is valued at 5639000000.0, our lookback sum is 5639000000.0
	We dropped row 17, Total liabilities and member's equity, with lookback window of 17.
		Our row is valued at 301341000000.0, our lookback sum is 301341000000.0
Working on 68136-2017-03-01
equal 0 16 0 16
replace 16 17 16 17
equal 17 18 17 18
	We dropped row 12, Total liabilities, with lookback window of 12.
		Our row is valued at 291443000000.0, our lookback sum is 291443000000.0
	We dropped row 16, Total member's equity, with lookback window of 2.
		Our row is valued at 5295000000.0, our lookback sum is 5295000000.0
	We dropped row 17, Total liabilities and member's equity, with lookback window of 16.
		Our row is valued at 308038000000.0, our lookback sum is 308034000000.0
Working on 68136-2018-03-01
equal 0 17 0 17
	We dropped row 11, Total liabilities, with lookback window of 11.
		Our row is valued at 288649000000.0, our lookback sum is 288649000000.0
	We dropped row 15, Total member's equity, with lookback window of 2.
		Our row is valued at 5332000000.0, our lookback sum is 5332000000.0
	We dropped row 16, Total liabilities and member's equity, with lookback window of 16.
		Our row is valued at 305281000000.0, our lookback sum is 305281000000.0
Working on 68136-2019-03-01
equal 0 5 0 5
replace 5 6 5 6
equal 6 17 6 17
	We dropped row 11, Total liabilities, with lookback window of 11.
		Our row is valued at 282485000000.0, our lookback sum is 282485000000.0
	We dropped row 15, Total member's equity, with lookback window of 2.
		Our row is valued at 8021000000.0, our lookback sum is 8021000000.0
	We dropped row 16, Total liabilities and member's equity, with lookback window of 16.
		Our row is valued at 303806000000.0, our lookback sum is 303806000000.0
Working on 68136-2021-02-26
equal 0 17 0 17
	We dropped row 11, Total liabilities, with lookback window of 11.
		Our row is valued at 385847000000.0, our lookback sum is 385847000000.0
	We dropped row 15, Total member's equity, with lookback window of 2.
		Our row is valued at 10092000000.0, our lookback sum is 10092000000.0
	We dropped row 16, Total liabilities and member's equity, with lookback window of 16.
		Our row is valued at 409239000000.0, our lookback sum is 409239000000.0
Working on 72267-2003-05-30
equal 0 19 0 19
	We dropped row 8, Payables and accrued liabilities:, with lookback window of 4.
		Our row is valued at 2781603000.0, our lookback sum is 2781603000.0
	We dropped row 16, Total liabilities, with lookback window of 16.
		Our row is valued at 57292974000.0, our lookback sum is 57292974000.0
	We dropped row 18, Total liabilities and stockholder's equity, with lookback window of 18.
		Our row is valued at 57702809000.0, our lookback sum is 57702809000.0
Working on 72267-2004-05-28
equal 0 20 0 20
	We dropped row 7, Payables:, with lookback window of 4.
		Our row is valued at 3046503000.0, our lookback sum is 3046503000.0
	We dropped row 13, Total liabilities, with lookback window of 13.
		Our row is valued at 62018809000.0, our lookback sum is 62018809000.0
	We dropped row 18, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 482409000.0, our lookback sum is 482409000.0
	We dropped row 19, Total liabilities and stockholder's equity, with lookback window of 19.
		Our row is valued at 63951218000.0, our lookback sum is 63951218000.0
Working on 72267-2005-05-31
equal 0 13 0 13
replace 13 14 13 14
equal 14 18 14 18
	We dropped row 11, Total liabilities, with lookback window of 11.
		Our row is valued at 76906488000.0, our lookback sum is 76906488000.0
	We dropped row 16, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 325623000.0, our lookback sum is 325623000.0
	We dropped row 17, Total liabilities and stockholder's equity, with lookback window of 17.
		Our row is valued at 78732111000.0, our lookback sum is 78732111000.0
Working on 72267-2006-05-30
equal 0 12 0 12
replace 12 13 12 13
equal 13 17 13 17
	We dropped row 11, Total liabilities, with lookback window of 11.
		Our row is valued at 73945334000.0, our lookback sum is 73945334000.0
	We dropped row 15, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 237601000.0, our lookback sum is 237601000.0
	We dropped row 16, Total liabilities and stockholder's equity, with lookback window of 16.
		Our row is valued at 174182935000.0, our lookback sum is 74182935000.0
Working on 72267-2007-05-29
equal 0 16 0 16
	We dropped row 10, Total liabilities, with lookback window of 10.
		Our row is valued at 87485932000.0, our lookback sum is 87485932000.0
	We dropped row 14, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 56900000.0, our lookback sum is 56900000.0
	We dropped row 15, Total liabilities and stockholder's equity, with lookback window of 15.
		Our row is valued at 87542832000.0, our lookback sum is 87542832000.0
Working on 72267-2008-05-30
equal 0 15 0 15
	We dropped row 9, Total liabilities, with lookback window of 9.
		Our row is valued at 16192669000.0, our lookback sum is 16192669000.0
	We dropped row 13, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 73966000.0, our lookback sum is 73966000.0
	We dropped row 14, Total liabilities and stockholder's equity, with lookback window of 14.
		Our row is valued at 16266635000.0, our lookback sum is 16266635000.0
Working on 72267-2009-06-03
equal 0 17 0 17
	We dropped row 11, Total liabilities, with lookback window of 11.
		Our row is valued at 14196392000.0, our lookback sum is 14196392000.0
	We dropped row 15, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 83400000.0, our lookback sum is 83400000.0
	We dropped row 16, Total liabilities and stockholder's equity, with lookback window of 16.
		Our row is valued at 14279792000.0, our lookback sum is 14279792000.0
Working on 72267-2010-06-01
equal 0 19 0 19
	We dropped row 13, Total liabilities, with lookback window of 13.
		Our row is valued at 67030133000.0, our lookback sum is 67030133000.0
	We dropped row 17, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 1072171000.0, our lookback sum is 1072171000.0
	We dropped row 18, Total liabilities and stockholder's equity, with lookback window of 18.
		Our row is valued at 68102304000.0, our lookback sum is 68102304000.0
Working on 72267-2012-03-15
replace 0 1 0 1
equal 1 13 1 13
delete 13 14 13 13
equal 14 18 13 17
	We dropped row 13, Total liabilities, with lookback window of 11.
		Our row is valued at 102085358000.0, our lookback sum is 102085358000.0
	We dropped row 17, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 2742404000.0, our lookback sum is 2742404000.0
	We dropped row 18, Total liabilities and stockholder's equity, with lookback window of 16.
		Our row is valued at 104827762000.0, our lookback sum is 104827762000.0
Working on 72267-2012-05-30
equal 0 13 0 13
delete 13 14 13 13
equal 14 18 13 17
	We dropped row 12, Total liabilities, with lookback window of 12.
		Our row is valued at 111518220000.0, our lookback sum is 111518220000.0
	We dropped row 16, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 2541275000.0, our lookback sum is 2541275000.0
	We dropped row 17, Total liabilities and stockholder's equity, with lookback window of 17.
		Our row is valued at 114059495000.0, our lookback sum is 114059495000.0
Working on 72267-2013-05-30
equal 0 14 0 14
delete 14 15 14 14
equal 15 19 14 18
	We dropped row 13, Total liabilities, with lookback window of 13.
		Our row is valued at 118681714000.0, our lookback sum is 118681714000.0
	We dropped row 17, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 3020100000.0, our lookback sum is 3020100000.0
	We dropped row 18, Total liabilities and stockholder's equity, with lookback window of 18.
		Our row is valued at 121701814000.0, our lookback sum is 121701814000.0

Working on 72267-2014-05-30
delete 0 1 0 0
equal 1 18 0 17
delete 18 19 17 17
	We dropped row 13, Total liabilities, with lookback window of 12.
		Our row is valued at 124317519000.0, our lookback sum is 124317519000.0
	We dropped row 17, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 3067937000.0, our lookback sum is 3067937000.0
	We dropped row 18, Total liabilities and stockholder's equity, with lookback window of 17.
		Our row is valued at 127385456000.0, our lookback sum is 127385456000.0
Working on 72267-2015-06-01
equal 0 13 0 13
replace 13 14 13 14
equal 14 18 14 18
	We dropped row 12, Total liabilities, with lookback window of 12.
		Our row is valued at 106030731000.0, our lookback sum is 106030731000.0
	We dropped row 16, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 2929606000.0, our lookback sum is 2929606000.0
	We dropped row 17, Total liabilities and stockholder's equity, with lookback window of 17.
		Our row is valued at 108960337000.0, our lookback sum is 108960337000.0
Working on 72267-2016-05-31
equal 0 14 0 14
replace 14 15 14 15
equal 15 17 15 17
	We dropped row 11, Total liabilities, with lookback window of 11.
		Our row is valued at 115346030000.0, our lookback sum is 115346030000.0
	We dropped row 15, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 2579375000.0, our lookback sum is 2579375000.0
	We dropped row 16, Total liabilities and stockholder's equity, with lookback window of 16.
		Our row is valued at 117925405000.0, our lookback sum is 117925405000.0
Working on 72267-2017-05-30
equal 0 13 0 13
replace 13 15 13 15
equal 15 17 15 17
	We dropped row 11, Total liabilities, with lookback window of 11.
		Our row is valued at 138528489000.0, our lookback sum is 138528489000.0
	We dropped row 14, Additional paid-in capital, with lookback window of 1.
		Our row is valued at 3650000000.0, our lookback sum is 3650000000.0
	We dropped row 16, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 2981841000.0, our lookback sum is 2981841000.0
	We dropped row 17, Total liabilities and stockholder's equity, with lookback window of 17.
		Our row is valued at 141510330000.0, our lookback sum is 141510330000.0
Working on 72267-2018-05-25
replace 0 1 0 1
equal 1 14 1 14
replace 14 15 14 15
equal 15 18 15 18
	We dropped row 12, Total liabilities, with lookback window of 12.
		Our row is valued at 137925403000.0, our lookback sum is 137925403000.0
	We dropped row 16, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 3148545000.0, our lookback sum is 3148545000.0
	We dropped row 17, Total liabilities and stockholder's equity, with lookback window of 17.
		Our row is valued at 141073948000.0, our lookback sum is 141073948000.0
Working on 72267-2019-05-28
equal 0 15 0 15
replace 15 17 15 17
equal 17 19 17 19
	We dropped row 13, Total liabilities, with lookback window of 13.
		Our row is valued at 124457897000.0, our lookback sum is 124457897000.0
	We dropped row 16, Additional paid-in capital, with lookback window of 1.
		Our row is valued at 3716866000.0, our lookback sum is 3716866000.0
	We dropped row 18, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 3084406000.0, our lookback sum is 3084406000.0
	We dropped row 19, Total liabilities and stockholder's equity, with lookback window of 19.
		Our row is valued at 127542303000.0, our lookback sum is 127542303000.0
Working on 72267-2020-06-01
equal 0 19 0 19
	We dropped row 13, Total liabilities, with lookback window of 13.
		Our row is valued at 139007241000.0, our lookback sum is 139007241000.0
	We dropped row 17, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 3465907000.0, our lookback sum is 3465907000.0
	We dropped row 18, Total liabilities and stockholder's equity, with lookback window of 18.
		Our row is valued at 142473148000.0, our lookback sum is 142473148000.0
Working on 782124-2002-01-29
equal 0 18 0 18
	We dropped row 16, Total Stockholder's Equity, with lookback window of 5.
		Our row is valued at 3462488000.0, our lookback sum is 3462488000.0
	We dropped row 17, TOTAL LIABILITIES AND STOCKHOLDER'S EQUITY, with lookback window of 17.
		Our row is valued at 140655621000.0, our lookback sum is 140655621000.0
Working on 782124-2003-01-30
equal 0 18 0 18
	We dropped row 16, Total Stockholder's Equity, with lookback window of 5.
		Our row is valued at 3704442000.0, our lookback sum is 3704442000.0
	We dropped row 17, TOTAL LIABILITIES AND STOCKHOLDER'S EQUITY, with lookback window of 17.
		Our row is valued at 150559829000.0, our lookback sum is 150559829000.0
Working on 782124-2004-01-30
equal 0 19 0 19
	We dropped row 17, Total Stockholder's Equity, with lookback window of 5.
		Our row is valued at 4096046000.0, our lookback sum is 4096046000.0
	We dropped row 18, TOTAL LIABILITIES AND STOCKHOLDER'S EQUITY, with lookback window of 18.
		Our row is valued at 164601243000.0, our lookback sum is 164601243000.0
Working on 782124-2004-05-07
equal 0 12 0 12
	We dropped row 6, Total liabilities, with lookback window of 6.
		Our row is valued at 10913196.0, our lookback sum is 10913196.0
	We dropped row 10, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 14759882.0, our lookback sum is 14759872.0
	We dropped row 11, TOTAL LIABILITIES AND STOCKHOLDER'S EQUITY, with lookback window of 11.
		Our row is valued at 25673078.0, our lookback sum is 25673078.0
Working on 782124-2005-01-31
equal 0 19 0 19
	We dropped row 17, Total Stockholder's Equity, with lookback window of 5.
		Our row is valued at 3272491000.0, our lookback sum is 3272491000.0
	We dropped row 18, TOTAL LIABILITIES AND STOCKHOLDER'S EQUITY, with lookback window of 18.
		Our row is valued at 193433468000.0, our lookback sum is 193433468000.0
Working on 782124-2006-01-30
equal 0 20 0 20
	We dropped row 18, Total Stockholder's Equity, with lookback window of 5.
		Our row is valued at 3727485000.0, our lookback sum is 3727485000.0
	We dropped row 19, TOTAL LIABILITIES AND STOCKHOLDER'S EQUITY, with lookback window of 19.
		Our row is valued at 191806579000.0, our lookback sum is 191806579000.0
Working on 782124-2007-01-29
equal 0 13 0 13
replace 13 14 13 14
equal 14 20 14 20
	We dropped row 18, Total Stockholder's Equity, with lookback window of 5.
		Our row is valued at 3658729000.0, our lookback sum is 3658729000.0
	We dropped row 19, TOTAL LIABILITIES AND STOCKHOLDER'S EQUITY, with lookback window of 19.
		Our row is valued at 236190719000.0, our lookback sum is 236190719000.0
Working on 782124-2008-01-31
equal 0 20 0 20
	We dropped row 18, Total Stockholder's Equity, with lookback window of 5.
		Our row is valued at 2921003000.0, our lookback sum is 2921003000.0
	We dropped row 19, TOTAL LIABILITIES AND STOCKHOLDER'S EQUITY, with lookback window of 19.
		Our row is valued at 258125104000.0, our lookback sum is 258125104000.0
Working on 782124-2009-03-02
equal 0 13 0 13
	We dropped row 10, Total liabilities, with lookback window of 10.
		Our row is valued at 395123286000.0, our lookback sum is 395123286000.0
	We dropped row 12, Total liabilities and stockholder's equity, with lookback window of 12.
		Our row is valued at 399544757000.0, our lookback sum is 399544757000.0
Working on 782124-2010-03-01
equal 0 14 0 14
	We dropped row 10, Total liabilities, with lookback window of 10.
		Our row is valued at 320976000000.0, our lookback sum is 320976000000.0
	We dropped row 13, Total liabilities and stockholder's equity, with lookback window of 13.
		Our row is valued at 329205000000.0, our lookback sum is 329205000000.0
Working on 782124-2011-03-02
equal 0 10 0 10
replace 10 11 10 11
equal 11 13 11 13
	We dropped row 10, Total liabilities (*), with lookback window of 10.
		Our row is valued at 351776000000.0, our lookback sum is 351776000000.0
	We dropped row 12, Total liabilities and member's equity, with lookback window of 12.
		Our row is valued at 362019000000.0, our lookback sum is 362019000000.0
Working on 782124-2012-02-29
equal 0 10 0 10
replace 10 11 10 11
equal 11 13 11 13
	We dropped row 10, Total liabilities (A), with lookback window of 10.
		Our row is valued at 360040000000.0, our lookback sum is 360040000000.0
	We dropped row 12, Total liabilities and member's equity, with lookback window of 12.
		Our row is valued at 371293000000.0, our lookback sum is 371293000000.0

Working on 782124-2013-03-01
replace 0 3 0 13
	We dropped row 8, Total Liabilities, with lookback window of 2.
		Our row is valued at 716000000.0, our lookback sum is 716000000.0
Working on 782124-2014-03-05
equal 0 11 0 11
replace 11 12 11 12
equal 12 14 12 14
	We dropped row 11, Total liabilities, with lookback window of 11.
		Our row is valued at 355063000000.0, our lookback sum is 355063000000.0
	We dropped row 13, Total liabilities and member's equity, with lookback window of 13.
		Our row is valued at 372319000000.0, our lookback sum is 372319000000.0
Working on 782124-2015-02-27
equal 0 11 0 11
replace 11 12 11 12
equal 12 17 12 17
	We dropped row 11, Total liabilities, with lookback window of 11.
		Our row is valued at 367038000000.0, our lookback sum is 367038000000.0
	We dropped row 15, Total member's equity, with lookback window of 2.
		Our row is valued at 15293000000.0, our lookback sum is 15293000000.0
	We dropped row 16, Total liabilities and member's equity, with lookback window of 16.
		Our row is valued at 397361000000.0, our lookback sum is 397361000000.0
Working on 782124-2016-02-29
equal 0 11 0 11
replace 11 12 11 12
equal 12 17 12 17
	We dropped row 11, Total liabilities(a), with lookback window of 11.
		Our row is valued at 340539000000.0, our lookback sum is 340539000000.0
	We dropped row 15, Total member's equity, with lookback window of 2.
		Our row is valued at 14511000000.0, our lookback sum is 14511000000.0
	We dropped row 16, Total liabilities and member's equity, with lookback window of 16.
		Our row is valued at 369680000000.0, our lookback sum is 369680000000.0
Working on 782124-2017-03-01
equal 0 17 0 17
	We dropped row 11, Total liabilities(a, with lookback window of 11.
		Our row is valued at 347908000000.0, our lookback sum is 347908000000.0
	We dropped row 15, Total member's equity, with lookback window of 2.
		Our row is valued at 17447000000.0, our lookback sum is 17447000000.0
	We dropped row 16, Total liabilities and member's equity, with lookback window of 16.
		Our row is valued at 379355000000.0, our lookback sum is 379355000000.0
Working on 782124-2018-02-27
equal 0 17 0 17
	We dropped row 11, Total liabilities(a, with lookback window of 11.
		Our row is valued at 317412000000.0, our lookback sum is 317412000000.0
	We dropped row 15, Total member's equity, with lookback window of 2.
		Our row is valued at 19758000000.0, our lookback sum is 19758000000.0
	We dropped row 16, Total liabilities and member's equity, with lookback window of 16.
		Our row is valued at 351170000000.0, our lookback sum is 351170000000.0
Working on 782124-2018-02-28
equal 0 17 0 17
	We dropped row 11, Total liabilities(a, with lookback window of 11.
		Our row is valued at 317412000000.0, our lookback sum is 317412000000.0
	We dropped row 15, Total member's equity, with lookback window of 2.
		Our row is valued at 19758000000.0, our lookback sum is 19758000000.0
	We dropped row 16, Total liabilities and member's equity, with lookback window of 16.
		Our row is valued at 351170000000.0, our lookback sum is 351170000000.0
Working on 782124-2019-02-28
equal 0 7 0 7
replace 7 8 7 8
equal 8 14 8 14
replace 14 15 14 15
equal 15 16 15 16
	We dropped row 10, Total liabilities³, with lookback window of 10.
		Our row is valued at 427075000000.0, our lookback sum is 427075000000.0
	We dropped row 14, Total member's equity, with lookback window of 2.
		Our row is valued at 9190000000.0, our lookback sum is 9190000000.0
	We dropped row 15, Total liabilities and member's equity, with lookback window of 15.
		Our row is valued at 460265000000.0, our lookback sum is 460265000000.0
Working on 782124-2020-04-01
equal 0 16 0 16
	We dropped row 10, Total liabilities(a, with lookback window of 10.
		Our row is valued at 455162000000.0, our lookback sum is 455162000000.0
	We dropped row 14, Total member's equity, with lookback window of 2.
		Our row is valued at 11783000000.0, our lookback sum is 11783000000.0
	We dropped row 15, Total liabilities and member's equity, with lookback window of 15.
		Our row is valued at 490945000000.0, our lookback sum is 490945000000.0
Working on 782124-2021-03-01
equal 0 16 0 16
	We dropped row 10, Total liabilities (a), with lookback window of 10.
		Our row is valued at 567851000000.0, our lookback sum is 567851000000.0
	We dropped row 14, Total member's equity, with lookback window of 2.
		Our row is valued at 12931000000.0, our lookback sum is 12931000000.0
	We dropped row 15, Total liabilities and member's equity, with lookback window of 15.
		Our row is valued at 609782000000.0, our lookback sum is 609782000000.0
Working on 851376-2002-03-01
equal 0 11 0 11
	We dropped row 10, Total liabilities and stockholder's equity, with lookback window of 10.
		Our row is valued at 72638615000.0, our lookback sum is 72638615000.0
Working on 851376-2003-03-03
equal 0 11 0 11
	We dropped row 10, Total liabilities and stockholder's equity, with lookback window of 10.
		Our row is valued at 103369408000.0, our lookback sum is 103369408000.0
Working on 851376-2004-03-01
equal 0 11 0 11
	We dropped row 10, Total liabilities and stockholder's equity, with lookback window of 10.
		Our row is valued at 113650937000.0, our lookback sum is 113650937000.0
Working on 851376-2005-03-02
equal 0 11 0 11
	We dropped row 10, Total liabilities and stockholder's equity, with lookback window of 10.
		Our row is valued at 174937091000.0, our lookback sum is 174937091000.0
Working on 851376-2006-03-01
equal 0 11 0 11
	We dropped row 10, Total liabilities and stockholder's equity, with lookback window of 10.
		Our row is valued at 194436796000.0, our lookback sum is 194436796000.0
Working on 851376-2007-03-14
equal 0 11 0 11
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 234088093000.0, our lookback sum is 234088093000.0
	We dropped row 10, Total liabilities and stockholder's equity, with lookback window of 10.
		Our row is valued at 236022658000.0, our lookback sum is 236022658000.0
Working on 851376-2008-02-29
equal 0 16 0 16
	We dropped row 9, Total liabilities, with lookback window of 9.
		Our row is valued at 295746672000.0, our lookback sum is 295746672000.0
	We dropped row 14, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 2074744000.0, our lookback sum is 2074734000.0
	We dropped row 15, Total liabilities and stockholder's equity, with lookback window of 15.
		Our row is valued at 297821416000.0, our lookback sum is 297821416000.0
Working on 851376-2009-03-02
equal 0 5 0 5
replace 5 6 5 6
equal 6 10 6 10
replace 10 11 10 11
equal 11 16 11 16
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 231480140000.0, our lookback sum is 231480140000.0
	We dropped row 14, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 6448987000.0, our lookback sum is 6448977000.0
	We dropped row 15, Total liabilities and stockholder's equity, with lookback window of 15.
		Our row is valued at 240429127000.0, our lookback sum is 240429127000.0
Working on 851376-2010-03-01
equal 0 17 0 17
	We dropped row 9, Total, with lookback window of 9.
		Our row is valued at 316546000000.0, our lookback sum is 316546000000.0
	We dropped row 15, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 7830000000.0, our lookback sum is 7830000000.0
	We dropped row 16, Total liabilities and stockholder's equity, with lookback window of 16.
		Our row is valued at 326876000000.0, our lookback sum is 326876000000.0
Working on 851376-2011-03-15
equal 0 16 0 16
replace 16 17 16 17
	We dropped row 9, Total, with lookback window of 9.
		Our row is valued at 320264000000.0, our lookback sum is 320264000000.0
	We dropped row 15, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 7343000000.0, our lookback sum is 7343000000.0
	We dropped row 16, Total liabilities and stockhoider's equity, with lookback window of 16.
		Our row is valued at 330107000000.0, our lookback sum is 330107000000.0
Working on 851376-2012-02-29
equal 0 18 0 18
	We dropped row 10, Total, with lookback window of 10.
		Our row is valued at 296990000000.0, our lookback sum is 296990000000.0
	We dropped row 16, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 6986000000.0, our lookback sum is 6986000000.0
	We dropped row 17, Total liabilities and stockholder's equity, with lookback window of 17.
		Our row is valued at 306476000000.0, our lookback sum is 306476000000.0

Working on 851376-2013-03-01
equal 0 18 0 18
	We dropped row 10, Total, with lookback window of 10.
		Our row is valued at 299299000000.0, our lookback sum is 299299000000.0
	We dropped row 16, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 7264000000.0, our lookback sum is 7264000000.0
	We dropped row 17, Total liabilities and stockholder's equity, with lookback window of 17.
		Our row is valued at 309063000000.0, our lookback sum is 309063000000.0
Working on 851376-2014-03-04
equal 0 16 0 16
Working on 851376-2015-03-02
equal 0 18 0 18
	We dropped row 16, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 7857000000.0, our lookback sum is 7857000000.0
	We dropped row 17, Total liabilities and stockholder's equity, with lookback window of 17.
		Our row is valued at 248026000000.0, our lookback sum is 248026000000.0
Working on 851376-2016-02-29
equal 0 19 0 19
	We dropped row 12, Total liabilities, with lookback window of 12.
		Our row is valued at 164983000000.0, our lookback sum is 164983000000.0
	We dropped row 17, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 7106000000.0, our lookback sum is 7106000000.0
	We dropped row 18, Total liabilities and stockholder's equity, with lookback window of 18.
		Our row is valued at 172089000000.0, our lookback sum is 172089000000.0
Working on 851376-2017-03-01
equal 0 18 0 18
	We dropped row 11, Total liabilities, with lookback window of 11.
		Our row is valued at 145080000000.0, our lookback sum is 145080000000.0
	We dropped row 16, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 7431000000.0, our lookback sum is 7431000000.0
	We dropped row 17, Total liabilities and stockholder's equity, with lookback window of 17.
		Our row is valued at 152511000000.0, our lookback sum is 152511000000.0
Working on 851376-2018-02-28
equal 0 18 0 18
	We dropped row 11, Total liabilities, with lookback window of 11.
		Our row is valued at 98948000000.0, our lookback sum is 98948000000.0
	We dropped row 16, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 7512000000.0, our lookback sum is 7512000000.0
	We dropped row 17, Total liabilities and stockholder's equity, with lookback window of 17.
		Our row is valued at 106460000000.0, our lookback sum is 106460000000.0
Working on 851376-2019-03-01
equal 0 18 0 18
	We dropped row 11, Total liabilities, with lookback window of 11.
		Our row is valued at 98750000000.0, our lookback sum is 98750000000.0
	We dropped row 16, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 6916000000.0, our lookback sum is 6916000000.0
	We dropped row 17, Total liabilities and stockholder's equity, with lookback window of 17.
		Our row is valued at 105666000000.0, our lookback sum is 105666000000.0
Working on 851376-2020-03-06
equal 0 17 0 17
	We dropped row 10, Total liabilities, with lookback window of 10.
		Our row is valued at 91805000000.0, our lookback sum is 91805000000.0
	We dropped row 15, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 7362000000.0, our lookback sum is 7362000000.0
	We dropped row 16, Total liabilities and stockholder's equity, with lookback window of 16.
		Our row is valued at 99167000000.0, our lookback sum is 99167000000.0
Working on 851376-2021-03-01
equal 0 18 0 18
	We dropped row 11, Total liabilities, with lookback window of 11.
		Our row is valued at 106492.0, our lookback sum is 106492.0
	We dropped row 16, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 6099.0, our lookback sum is 6099.0
	We dropped row 17, Total liabilities and stockholder's equity, with lookback window of 17.
		Our row is valued at 112591.0, our lookback sum is 112591.0
Working on 853784-2002-03-01
equal 0 12 0 12
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 34644573000.0, our lookback sum is 34644573000.0
	We dropped row 11, Total liabilities and stockholder's equity, with lookback window of 11.
		Our row is valued at 35226132000.0, our lookback sum is 35226132000.0

CLIENT-ERROR: WE COULD NOT DOWNLOAD SPLIT DATA FOR 853784-2003-02-28.csv

CLIENT-ERROR: WE COULD NOT DOWNLOAD SPLIT DATA FOR 853784-2004-03-01.csv

CLIENT-ERROR: WE COULD NOT DOWNLOAD SPLIT DATA FOR 853784-2005-02-28.csv
Working on 853784-2006-03-01
equal 0 12 0 12
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 48256356000.0, our lookback sum is 48256356000.0
	We dropped row 11, Total liabilities and stockholder's equity, with lookback window of 11.
		Our row is valued at 50025689000.0, our lookback sum is 50025689000.0
Working on 853784-2007-03-01
equal 0 15 0 15
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 79757021000.0, our lookback sum is 79757021000.0
	We dropped row 13, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 1578415000.0, our lookback sum is 1578415000.0
	We dropped row 14, Total liabilities and stockholder's equity, with lookback window of 14.
		Our row is valued at 81435436000.0, our lookback sum is 81435436000.0
Working on 853784-2007-03-09
equal 0 15 0 15
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 79757021000.0, our lookback sum is 79757021000.0
	We dropped row 13, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 1578415000.0, our lookback sum is 1578415000.0
	We dropped row 14, Total liabilities and stockholder's equity, with lookback window of 14.
		Our row is valued at 81435436000.0, our lookback sum is 81435436000.0
Working on 853784-2008-02-29
equal 0 12 0 12
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 66877360000.0, our lookback sum is 66877360000.0
	We dropped row 11, Total liabilities and stockholder's equity, with lookback window of 11.
		Our row is valued at 68835607000.0, our lookback sum is 68835607000.0
Working on 853784-2009-03-02
equal 0 12 0 12
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 59918632000.0, our lookback sum is 59918632000.0
	We dropped row 11, Total liabilities and stockholders' equity, with lookback window of 11.
		Our row is valued at 61543858000.0, our lookback sum is 61543858000.0
Working on 853784-2010-03-01
equal 0 12 0 12
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 59140672000.0, our lookback sum is 59140672000.0
	We dropped row 11, Total liabilities and stockholders' equity, with lookback window of 11.
		Our row is valued at 60683961000.0, our lookback sum is 60683961000.0
Working on 853784-2011-03-01
equal 0 9 0 9
replace 9 10 9 10
equal 10 12 10 12
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 82287659000.0, our lookback sum is 82287659000.0
	We dropped row 11, Total liabilities and stockholders' equity, with lookback window of 11.
		Our row is valued at 83850980000.0, our lookback sum is 83850980000.0
Working on 853784-2012-02-29
equal 0 12 0 12
	We dropped row 8, Total liabilities, with lookback window of 8.
		Our row is valued at 54161306000.0, our lookback sum is 54161306000.0
	We dropped row 11, Total liabilities and stockholder's equity, with lookback window of 11.
		Our row is valued at 55704086000.0, our lookback sum is 55704086000.0
Working on 853784-2013-03-01
equal 0 11 0 11
	We dropped row 7, Total liabilities, with lookback window of 7.
		Our row is valued at 76340920000.0, our lookback sum is 76340920000.0
	We dropped row 10, Total liabilities and stockholder's equity, with lookback window of 10.
		Our row is valued at 77900039000.0, our lookback sum is 77900039000.0
Working on 853784-2014-03-04
equal 0 11 0 11
	We dropped row 7, Total liabilities, with lookback window of 7.
		Our row is valued at 72839292000.0, our lookback sum is 72839292000.0
	We dropped row 10, Total liabilities and stockholder's equity, with lookback window of 10.
		Our row is valued at 74314954000.0, our lookback sum is 74314954000.0
Working on 853784-2015-03-09
equal 0 11 0 11
	We dropped row 7, Total liabilities, with lookback window of 7.
		Our row is valued at 80024434000.0, our lookback sum is 80024434000.0
	We dropped row 10, Total liabilities and stockholder's equity, with lookback window of 10.
		Our row is valued at 81418513000.0, our lookback sum is 81418513000.0

Working on 853784-2016-03-01
equal 0 10 0 10
	We dropped row 6, Total liabilities, with lookback window of 6.
		Our row is valued at 70097715000.0, our lookback sum is 70097715000.0
	We dropped row 9, Total liabilities and stockholder's equity, with lookback window of 9.
		Our row is valued at 71580510000.0, our lookback sum is 71580510000.0
Working on 853784-2017-03-01
equal 0 10 0 10
	We dropped row 6, Total liabilities, with lookback window of 6.
		Our row is valued at 70269822000.0, our lookback sum is 70269822000.0
	We dropped row 9, Total liabilities and shareholder's equity, with lookback window of 9.
		Our row is valued at 71759167000.0, our lookback sum is 71759167000.0
Working on 853784-2018-03-05
equal 0 14 0 14
	We dropped row 6, Total liabilities, with lookback window of 6.
		Our row is valued at 89723445000.0, our lookback sum is 89723445000.0
	We dropped row 12, Shareholder's equity, with lookback window of 3.
		Our row is valued at 835153000.0, our lookback sum is 835153000.0
	We dropped row 13, Total liabilities and shareholder's equity, with lookback window of 13.
		Our row is valued at 91308598000.0, our lookback sum is 91308598000.0
Working on 853784-2019-03-01
equal 0 14 0 14
	We dropped row 6, Total liabilities, with lookback window of 6.
		Our row is valued at 103306000000.0, our lookback sum is 103306000000.0
	We dropped row 12, Shareholder's equity, with lookback window of 3.
		Our row is valued at 781000000.0, our lookback sum is 781000000.0
	We dropped row 13, Total liabilities and shareholder's equity, with lookback window of 13.
		Our row is valued at 105062000000.0, our lookback sum is 105062000000.0
Working on 853784-2020-03-02
equal 0 14 0 14
	We dropped row 6, Total liabilities, with lookback window of 6.
		Our row is valued at 75479000000.0, our lookback sum is 75479000000.0
	We dropped row 12, Shareholder's equity, with lookback window of 3.
		Our row is valued at 942000000.0, our lookback sum is 942000000.0
	We dropped row 13, Total liabilities and shareholder's equity, with lookback window of 13.
		Our row is valued at 77321000000.0, our lookback sum is 77321000000.0
Working on 853784-2021-03-01
equal 0 14 0 14
	We dropped row 6, Total liabilities, with lookback window of 6.
		Our row is valued at 45452000000.0, our lookback sum is 45452000000.0
	We dropped row 12, Shareholder's equity, with lookback window of 3.
		Our row is valued at 914000000.0, our lookback sum is 914000000.0
	We dropped row 13, Total liabilities and shareholder's equity, with lookback window of 13.
		Our row is valued at 47166000000.0, our lookback sum is 47166000000.0
Working on 91154-2002-03-01
equal 0 4 0 4
insert 4 4 4 5
equal 4 23 5 24
	We dropped row 4, Financial instruments sold, not yet purchased,, with lookback window of 2.
		Our row is valued at 121985000000.0, our lookback sum is 121985000000.0
	We dropped row 11, Payables and accrued liabilities:, with lookback window of 6.
		Our row is valued at 25226000000.0, our lookback sum is 25226000000.0
	We dropped row 17, Total liabilities, with lookback window of 17.
		Our row is valued at 218419000000.0, our lookback sum is 218419000000.0
	We dropped row 22, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 6860000000.0, our lookback sum is 6850000000.0
	We dropped row 23, Total liabilities and stockholder's equity, with lookback window of 23.
		Our row is valued at 225279000000.0, our lookback sum is 225279000000.0
Working on 91154-2003-03-03
equal 0 25 0 25
	We dropped row 4, Financial instruments sold, not yet purchased,, with lookback window of 2.
		Our row is valued at 114159000000.0, our lookback sum is 114159000000.0
	We dropped row 11, Payables and accrued liabilities:, with lookback window of 6.
		Our row is valued at 18012000000.0, our lookback sum is 18012000000.0
	We dropped row 18, Total liabilities, with lookback window of 18.
		Our row is valued at 189981000000.0, our lookback sum is 189981000000.0
	We dropped row 23, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 7136000000.0, our lookback sum is 7126000000.0
	We dropped row 24, Total liabilities and stockholder's equity, with lookback window of 24.
		Our row is valued at 197117000000.0, our lookback sum is 197117000000.0
Working on 91154-2004-02-27
equal 0 24 0 24
	We dropped row 10, Payables and accrued liabilities:, with lookback window of 6.
		Our row is valued at 24756000000.0, our lookback sum is 24756000000.0
	We dropped row 17, Total liabilities, with lookback window of 17.
		Our row is valued at 223965000000.0, our lookback sum is 223965000000.0
	We dropped row 22, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 7239000000.0, our lookback sum is 7229000000.0
	We dropped row 23, Total liabilities and stockholder's equity, with lookback window of 23.
		Our row is valued at 231204000000.0, our lookback sum is 231204000000.0
Working on 91154-2005-03-01
equal 0 24 0 24
	We dropped row 4, Financial instruments sold, not yet purchased,, with lookback window of 2.
		Our row is valued at 138285000000.0, our lookback sum is 138285000000.0
	We dropped row 11, Payables and accrued liabilities:, with lookback window of 6.
		Our row is valued at 30788000000.0, our lookback sum is 30788000000.0
	We dropped row 17, Total liabilities, with lookback window of 17.
		Our row is valued at 270455000000.0, our lookback sum is 270455000000.0
	We dropped row 22, Total stockholder's equity, with lookback window of 4.
		Our row is valued at 8404000000.0, our lookback sum is 8404000000.0
	We dropped row 23, Total liabilities and stockholder's equity, with lookback window of 23.
		Our row is valued at 278859000000.0, our lookback sum is 278859000000.0
Working on 91154-2007-03-01
equal 0 23 0 23
	We dropped row 10, Payables and accrued liabilities:, with lookback window of 6.
		Our row is valued at 29668000000.0, our lookback sum is 29668000000.0
	We dropped row 16, Total liabilities, with lookback window of 16.
		Our row is valued at 367118000000.0, our lookback sum is 367118000000.0
	We dropped row 21, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 10833000000.0, our lookback sum is 10823000000.0
	We dropped row 22, Total liabilities and stockholder's equity, with lookback window of 22.
		Our row is valued at 377951000000.0, our lookback sum is 377951000000.0
Working on 91154-2008-02-29
equal 0 23 0 23
	We dropped row 4, Financial instruments sold, not yet purchased, and, with lookback window of 2.
		Our row is valued at 205309000000.0, our lookback sum is 205309000000.0
	We dropped row 11, Payables and accrued liabilities:, with lookback window of 6.
		Our row is valued at 26313000000.0, our lookback sum is 26313000000.0
	We dropped row 16, Total liabilities, with lookback window of 16.
		Our row is valued at 354820000000.0, our lookback sum is 354820000000.0
	We dropped row 21, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 8342000000.0, our lookback sum is 8332000000.0
	We dropped row 22, Total liabilities and stockholder's equity, with lookback window of 22.
		Our row is valued at 363162000000.0, our lookback sum is 363162000000.0
Working on 91154-2009-03-02
equal 0 23 0 23
	We dropped row 4, Financial instruments sold, not yet purchased, and, with lookback window of 2.
		Our row is valued at 167462000000.0, our lookback sum is 167462000000.0
	We dropped row 10, Other financial instruments, with lookback window of 1.
		Our row is valued at 125000000.0, our lookback sum is 124000000.0
	We dropped row 21, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 6383000000.0, our lookback sum is 6373000000.0
	We dropped row 22, Total liabilities and stockholder's equity, with lookback window of 6.
		Our row is valued at 286825000000.0, our lookback sum is 286825000000.0
Working on 91154-2010-03-02
equal 0 2 0 2
delete 2 3 2 2
equal 3 25 2 24
	We dropped row 2, Collateralized short-term financing agreements:, with lookback window of 2.
		Our row is valued at 56832000000.0, our lookback sum is 56832000000.0
	We dropped row 12, Payables and accrued liabilities:, with lookback window of 6.
		Our row is valued at 27328000000.0, our lookback sum is 27328000000.0
	We dropped row 18, Total liabilities, with lookback window of 18.
		Our row is valued at 296359000000.0, our lookback sum is 296359000000.0
	We dropped row 23, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 17997000000.0, our lookback sum is 17987000000.0
	We dropped row 24, Total liabilities and stockholder's equity, with lookback window of 24.
		Our row is valued at 314356000000.0, our lookback sum is 314356000000.0

Working on 91154-2011-03-01
equal 0 25 0 25
	We dropped row 2, Collateralized short-term financing agreements:, with lookback window of 2.
		Our row is valued at 15835000000.0, our lookback sum is 15835000000.0
	We dropped row 5, Trading account liabilities:, with lookback window of 2.
		Our row is valued at 131419000000.0, our lookback sum is 131419000000.0
	We dropped row 12, Payables and accrued liabilities:, with lookback window of 6.
		Our row is valued at 27875000000.0, our lookback sum is 27875000000.0
	We dropped row 18, Total liabilities, with lookback window of 18.
		Our row is valued at 272389000000.0, our lookback sum is 272389000000.0
	We dropped row 23, Total stockholder's equity, with lookback window of 3.
		Our row is valued at 16020000000.0, our lookback sum is 16010000000.0
	We dropped row 24, Total liabilities and stockholder's equity, with lookback window of 24.
		Our row is valued at 288409000000.0, our lookback sum is 288409000000.0
Working on 91154-2012-02-29
equal 0 23 0 23
	We dropped row 4, Trading account liabilities:, with lookback window of 2.
		Our row is valued at 133872000000.0, our lookback sum is 133872000000.0
	We dropped row 11, Payables and accrued liabilities:, with lookback window of 6.
		Our row is valued at 25871000000.0, our lookback sum is 25871000000.0
	We dropped row 17, Total liabilities, with lookback window of 17.
		Our row is valued at 261317000000.0, our lookback sum is 261317000000.0
	We dropped row 21, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 7833000000.0, our lookback sum is 7823000000.0
	We dropped row 22, Total liabilities and stockholder's equity, with lookback window of 22.
		Our row is valued at 269150000000.0, our lookback sum is 269150000000.0
Working on 91154-2013-03-01
equal 0 2 0 2
delete 2 3 2 2
equal 3 24 2 23
	We dropped row 2, Collateralized short-term financing agreements:, with lookback window of 2.
		Our row is valued at 19943000000.0, our lookback sum is 19943000000.0
	We dropped row 5, Trading account liabilities:, with lookback window of 2.
		Our row is valued at 136775000000.0, our lookback sum is 136775000000.0
	We dropped row 12, Payables and accrued liabilities:, with lookback window of 6.
		Our row is valued at 20694000000.0, our lookback sum is 20694000000.0
	We dropped row 18, Total liabilities, with lookback window of 18.
		Our row is valued at 242830000000.0, our lookback sum is 242830000000.0
	We dropped row 22, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 8692000000.0, our lookback sum is 8682000000.0
	We dropped row 23, Total liabilities and stockholder's equity, with lookback window of 23.
		Our row is valued at 251522000000.0, our lookback sum is 251522000000.0
Working on 91154-2014-03-04
equal 0 21 0 21
	We dropped row 14, Total liabilities, with lookback window of 14.
		Our row is valued at 235464000000.0, our lookback sum is 235464000000.0
	We dropped row 19, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 9691000000.0, our lookback sum is 9681000000.0
	We dropped row 20, Total liabilities and stockholder's equity, with lookback window of 20.
		Our row is valued at 253600000000.0, our lookback sum is 253600000000.0
Working on 91154-2016-03-01
equal 0 20 0 20
	We dropped row 13, Total liabilities, with lookback window of 13.
		Our row is valued at 234329000000.0, our lookback sum is 234329000000.0
	We dropped row 18, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 9142000000.0, our lookback sum is 9132000000.0
	We dropped row 19, Total liabilities and stockholder's equity, with lookback window of 19.
		Our row is valued at 253416000000.0, our lookback sum is 253416000000.0
Working on 91154-2017-03-02
equal 0 20 0 20
	We dropped row 14, Total liabilities, with lookback window of 14.
		Our row is valued at 252450000000.0, our lookback sum is 252450000000.0
	We dropped row 18, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 9194000000.0, our lookback sum is 9184000000.0
	We dropped row 19, Total liabilities and stockholder's equity, with lookback window of 19.
		Our row is valued at 261644000000.0, our lookback sum is 261644000000.0
Working on 91154-2018-03-05
equal 0 20 0 20
	We dropped row 14, Total liabilities, with lookback window of 14.
		Our row is valued at 263529000000.0, our lookback sum is 263529000000.0
	We dropped row 18, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 9015000000.0, our lookback sum is 9005000000.0
	We dropped row 19, Total liabilities and stockholder's equity, with lookback window of 19.
		Our row is valued at 272544000000.0, our lookback sum is 272544000000.0
Working on 91154-2019-03-05
equal 0 20 0 20
	We dropped row 14, Total liabilities, with lookback window of 14.
		Our row is valued at 290048000000.0, our lookback sum is 290048000000.0
	We dropped row 18, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 8860000000.0, our lookback sum is 8850000000.0
	We dropped row 19, Total liabilities and stockholder's equity, with lookback window of 19.
		Our row is valued at 298908000000.0, our lookback sum is 298908000000.0
Working on 91154-2020-03-02
equal 0 20 0 20
	We dropped row 14, Total liabilities, with lookback window of 14.
		Our row is valued at 280372000000.0, our lookback sum is 280372000000.0
	We dropped row 18, Total stockholder's equity, with lookback window of 2.
		Our row is valued at 9073000000.0, our lookback sum is 9063000000.0
	We dropped row 19, Total liabilities and stockholder's equity, with lookback window of 19.
		Our row is valued at 289445000000.0, our lookback sum is 289445000000.0

We created an unstructured asset and liability & equity

In [279]:
# work on combining columns that are issued seperately
s3 = boto3.client('s3')
session = Session()
bucket = "ran-s3-systemic-risk"

# e.g. file name = 1224385-2004-03-01, 42352-2003-01-28
s3.download_file(bucket, 'Output/X-17A-5-SPLIT-PDFS/Assets/42352-2011-03-01.csv', 'temp.csv')
pdf_df = pd.read_csv('temp.csv')
s3.download_file(bucket, 'Output/X-17A-5-SPLIT-PNGS/Assets/42352-2011-03-01.csv', 'temp.csv')
png_df = pd.read_csv('temp.csv')
os.remove('temp.csv')

# do a special merge that combines unique line items names between PDF & PNG
temp_df1 = special_merge(pdf_df, png_df, '0')

# run accounting check to remove sub-totals for each respective line-item
df, total_flag, total_amt = totals_check(temp_df1)

# # we have that no "total asset" figure was found
# if total_flag == 2:
#     row = pd.DataFrame([["Total liabilities & shareholder's equity check", 
#                          "Total liabilities & shareholder's equity"], 
#                         ["Total liabilities & shareholder's equity not found", 
#                          total_amt]], 
#                        index=['0', '1']).T
#     df = df.append(row)

# # we have that "total asset" was found and matches
# elif total_flag == 1:
#     row = pd.DataFrame([["Total liabilities & shareholder's equity check", 
#                          "Total liabilities & shareholder's equity"], 
#                         ["Total liabilities & shareholder's equity found & match", 
#                          total_amt]], 
#                        index=['0', '1']).T
#     df= df.append(row)

# # we have that "total asset" was found, but did not match correctly
# elif total_flag == 0:
#     row = pd.DataFrame(["Total liabilities & shareholder's equity check", 
#                         'Total Liability & Equity found & no match'], 
#                        index=['0', '1']).T
#     df = df.append(row)

# # construct row for the unstructured data frame 
# export_df = unstructured_data(df, '2003-01-28', 2002, '42352', cik2brokers)

In [280]:
pdf_df

                                                    0             1
0                           Cash and cash equivalents  4.507000e+09
1   Cash and securities segregated for regulatory ...  3.278000e+10
2   Securities borrowed (includes $64,750 at fair ...  1.918900e+11
3   Securities purchased under agreements to resel...  1.229260e+11
4   Receivables from brokers, dealers and clearing...  9.356000e+09
5   Receivables from customers and counterparties ...  2.158200e+10
6          Financial Instruments owned, at fair value  1.168850e+11
7   Financial instruments owned and pledged as col...  2.343600e+10
8    Total financial instruments owned. at fair value  1.393210e+11
9                                        Other assets  4.639000e+09
10                                       Total assets  5.270010e+11

In [281]:
png_df

                                                    0             1
0                    Assets Cash and cash equivalents  4.507000e+09
1   Cash and securities segregated for regulatory ...  3.278000e+10
2   Securities borrowed (includes $64,750 at fair ...  1.918900e+11
3   Securities purchased under agreements to resel...  1.229260e+11
4   Receivables from brokers, dealers and clearing...  9.356000e+09
5   Receivables from customers and counterparties ...  2.158200e+10
6          Financial instruments owned, at fair value  1.158850e+11
7   Financial instruments owned and pledged as col...  2.343600e+10
8    Total financial instruments owned, at fair value  1.393210e+11
9                                        Other assets  4.639000e+09
10                                       Total assets  5.270010e+11

In [285]:
df

                                                    0             1
0                           Cash and cash equivalents  4.507000e+09
1   Cash and securities segregated for regulatory ...  3.278000e+10
2   Securities borrowed (includes $64,750 at fair ...  1.918900e+11
3   Securities purchased under agreements to resel...  1.229260e+11
4   Receivables from brokers, dealers and clearing...  9.356000e+09
5   Receivables from customers and counterparties ...  2.158200e+10
6          Financial Instruments owned, at fair value  1.168850e+11
7   Financial instruments owned and pledged as col...  2.343600e+10
8    Total financial instruments owned. at fair value  1.393210e+11
9                                        Other assets  4.639000e+09
10                                       Total assets  5.270010e+11

In [287]:
df.iloc[8].iloc[1]

139321000000.0

In [292]:
df.iloc[6:8].sum().iloc[1]

140321000000.0

In [293]:
epsilon_error(139321000000.0, 140321000000.0)

False

In [296]:
abs(abs(140321000000.0 - 139321000000) / 139321000000)

0.007177668836715212